@font-face {
  font-family: 'Quicksand';
  src: url("Quicksand-Regular/Quicksand-Regular.eot");
  src: local("☺"), url("Quicksand-Regular/Quicksand-Regular.woff") format("woff"),
									 url("Quicksand-Regular/Quicksand-Regular.ttf") format("truetype"), 
									 url("Quicksand-Regular/Quicksand-Regular.svg") format("svg");
  font-weight: normal;
	font-style: normal;
	color: red;
}

@font-face {
  font-family: 'Quicksand';
  src: url("Quicksand-Bold/Quicksand-Bold.eot");
	src: local("☺"), url("Quicksand-Bold/Quicksand-Bold.woff") format("woff"), 
									 url("Quicksand-Bold/Quicksand-Bold.ttf") format("truetype"),
    							 url("Quicksand-Bold/Quicksand-Bold.svg") format("svg");
  font-weight: bold;
	font-style: normal;
	color: green;
}
