include ../subscribe-input/subscribe-input

mixin subscribe-area(data)
  .subscribe-area
    p.subscribe-area__title #{data.caption}
    p.subscribe-area__text #{data.desc}
    +subscribe-input({placeholder:data.placeholder})