include ../subscribe-input/subscribe-input

mixin subscribe-area({caption, desc, subscribeInput})
  .subscribe-area
    p.subscribe-area__title #{caption}
    p.subscribe-area__text #{desc}
    +subscribe-input(subscribeInput)