$relative-root-path:'/';

@import "../../common.scss";

@import "../../fonts/FA5_Brands-Regular-400/fonts.css";
@import "../../fonts/MaterialIcons/material-icons.css";
@import "../../fonts/Montserrat/fonts.css";
@import "../../fonts/Open-Sans/fonts.css";
@import "../../fonts/Quicksand/fonts.css";

$header-media1: 888px;
$header-media2: 715px;
$header-media3: 488px;
@import "../../components/header/header.scss";
@import "../../components/footer/footer.scss";
@import "../../components/room-images/room-images.scss";
@import "../../../node_modules/flexslider/flexslider.css";
@import "../../components/feedback-list/feedback-list.scss";
@import "../../components/comfort-status-list/comfort-status-list.scss";
@import "../../components/order-info-form/order-info-form.scss";
@import "../../components/datepicker/datepicker.scss";
@import "../../components/bullets-list/bullets-list.scss";
@import "../../components/donut-chart/donut-chart.scss";
@import "../../components/legend-list/legend-list.scss";

body {
  color: $toxin-color-black-75;
}

.main-content {
  width: 100%;
}

.room-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  padding: 70px 4px;
  padding-bottom: 61px;
  border-bottom: 1px solid $toxin-color-black-10;
}

.room-details__column1 {
  max-width: 710px;  
  margin-right: 70px;
}

.room-details__common-wrapper1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
}
.room-details__common-wrapper2 {
  display: flex;
  flex-wrap: wrap;
}

.room-details__cancellation {
  flex-basis: 46%;  
}

.room-details__bullets-list {
  flex-basis: 37%;  
  margin-right: 13.802816%;
}

.room-details__bullets-list-caption {
  text-transform: none;
  padding-left: 19px;
  margin-bottom: 17px;
}

.room-details__cancellation-caption {
  text-transform: none;
  margin-bottom: 16px;
}

.room-details__cancellation-text {
  line-height: 24px;
}

.room-details__wrapper-csl {
  margin-right: 15.07042253521127%;
}

.room-details__wrapper-csl-caption {
  margin-bottom: 19px;
}

.room-details__wrapper-csl-caption {
  text-transform: none;
}

.room-details__wrapper-donut-chart {
  width: 43.7%;
}

.room-details__wrapper-fl {
  margin-bottom: 32px;
}

.room-details__column2 {  
  flex-basis: 380px;
}

.room-details__column2-wrapper-order-info-form {
  margin-bottom: 20px;  
}

.menu > .menu__list > .menu__item.menu__item:not(:last-of-type) {
  margin-right: 20px;
}

.header__wrapper-menu {
  margin-right: 20px;
}

// Additional media queries for header-----------------------------------------
@media (max-width: 365px) {
  .header__wrapper-logo {
    display: none;
  }
}

@media (max-width: 1185px) {
  .room-details__wrapper-donut-chart {
    width: auto;
  }  
  .room-details__column1 {
    margin-right: 20px;
  }
}

@media (max-width: 1085px) {
  .room-details__column1 {
    margin-right: 0;
  }
  .room-details__wrapper-csl {
    margin-right: 10px;
  }
  .room-details__common-wrapper1 {
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .room-details {
    flex-wrap: wrap-reverse;
    padding: 10px 4px;
  }
  .room-details__common-wrapper1 {
    justify-content: center;
  }
}

@media (max-width: 379px) {
  .room-details__column2 {
    flex-basis: 100%;
  }
  .room-details__common-wrapper1 {
    justify-content: center;
  }
  .room-details__bullets-list {
    min-width: 312px;
  }

  .room-details__cancellation {
    flex-basis: auto;
  }
}
