@import "../../../node_modules/item-quantity-dropdown/lib/item-quantity-dropdown.min.css";
@import "../../../node_modules/air-datepicker/dist/css/datepicker.css";

* {
  @include reset;
}

html {
  @include define-html;
}

body {
  @include define-body;
}

.main-content {
  width: 100%;
  min-height: 830px;
  position: relative;
  padding-top: 70px;
  background: url("index.jpg") no-repeat;

  &__form {
    margin-left: 9.375%;
    padding: 0 5px;
  }

  &__text {
    color: $toxin-color-black-75;
    max-width: 297px;
    position: absolute;
    right: 9.236111111111111%;
    bottom: 21px;
    line-height: 24px;
    text-align: right;
  }

  @media (max-width: 815px) {
    min-height: 740px;

    &__form {
      max-width: 380px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }

    &__text {
      margin: 10px auto;
      text-align: center;
      position: static;
      color: #fff;
    }
  }
}

.header .header-menu > .header-menu__list > .header-menu__item.header-menu__item:not(:last-of-type) {
  margin-right: 20px;
}

.header .header__header-menu {
  margin-right: 20px;
}
