* {
  @include reset;
}

html {
  @include define-html;
}

body {
  @include define-body;
}

.search-room {
  &__main-content {
    display: flex;
    justify-content: center;
    background: #fff;
    padding: 0 15px 76px 15px;
    min-height: 918px;
    margin-top: 28px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
  }

  @media (max-width: 658px) {
    &__wrapper {
      justify-content: space-between;
    }
  }

  @media (max-width: 600px) {
    &__wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__filters {
    margin-right: 60px;
  }

  @media (max-width: 1000px) {
    &__filters {
      margin-right: 12px;
    }
  }

  &__filters-list {
    list-style: none;
    min-width: 266px;
  }

  &__filters-item {
    margin-bottom: 15px;
  }

  &__datepicker-input {
    margin-bottom: 21px;
  }

  &__guests-input {
    margin-bottom: 30px;
  }

  &__range-slider {
    margin-bottom: 29px;
  }

  &__checkboxes-list-miscellaneous {
    margin-bottom: 31px;
    max-width: 230px;
  }

  &__checkboxes-list-accessibility {
    margin-bottom: 33px;
    max-width: 253px;

    .checkboxes-list__item:nth-child(1) {
      width: 220px;
    }
  }

  &__comfort-input {
    margin-bottom: 27px;
  }

  @media (max-width: 658px) {
    &__main-content {
      padding-left: 10px;
      padding-right: 10px;
    }

    &__filters {
      margin-right: 10px;
    }
  }
}
