include ../comfort-status/comfort-status

mixin comfort-status-list(items=[{text: 'Error: items is not defined'}])
  ul.comfort-status-list
    for item in items
      li.comfort-status-list__item
        +comfort-status(item)



