.index {
  font-size: 20px;

  &__list {
    list-style: circle;
  }

  &__list-item {
    line-height: 30px;
  }

  &__list-item-link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: black;
    }
  }
}
