mixin radio(data)
  .radio
    input(type="radio" name=data.name id=data.id checked=(data.isChecked ? "checked" : undefined)).radio__input.common__input_hide
    label(for=data.id).radio__label #{data.text}