.radio {
  position: relative;
  padding-left: 30px;
  display: flex;
  width: 120px;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

  &__button {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    cursor: pointer;
    color: $toxin-color-black-75;            
    width: 20px;
    height: 20px;
    border: 1px solid $toxin-color-black-25;
    background-color: #ffffff;
    border-radius: 100%;
  }

  &__button::after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  }

  &__input:not(:checked) + .radio__button + .radio__text {
    color: $toxin-color-black-50;
  }

  &__input:not(:checked) + .radio__button::after {
    opacity: 0;
  }

  &__input:checked + .radio__button::after {
    opacity: 1;
  }
}
