.radio {
    &__label {
        display: inline-block;
        position: relative;
        padding-left: 30px;
        font-size: 14px;
        cursor: pointer;
        color: $toxin-color-black-75;
    }

    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0, 0, 0, 0);
        overflow: hidden;
    }

    &__input:not(:checked) + .radio__label {
        color: $toxin-color-black-50;
    }

    &__label:before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 18px;
        height: 18px;
        border: 1px solid $toxin-color-black-25;
        background-color: #ffffff;
        border-radius: 100%;
    }

    &__label:after {
        content: "";
        position: absolute;
        transition: all 0.2s ease;
        left: 4px;
        top: 4px;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    }

    .radio__input:not(:checked) + .radio__label:after {
        opacity: 0;
    }

    &__input:checked + .radio__label:after {
        opacity: 1;
    }
}
