mixin rate-button({disabled, id, count})  
  .rate-button.js-rate-button(data-count = count)
    - let index = 0;
    - const total = 5;
    while index < total      
      .rate-button__star #{index > count-1 ? "star_border" : "star"}
      - index+=1;