mixin rate-button({disabled, id, count} = data)  
  .rate-button(class=(disabled ? "rate-button_disabled" : ""))
    - var n=1;
    - var total=6;
    while n<total
      input(id=id+(total-n) type="radio" name=id checked=(count==total-n ? "checked" : undefined) ).rate-button__input
      label(for=id+(total-n)).rate-button__label.material-icons     
      - n++;