.rate-button {
  display: inline-flex;
  flex-direction: row-reverse;

  & > .rate-button__label {
    cursor: pointer;
    color: $toxin-color-purple;
  }

  &__label:after {
    content: "star_border";
  }

  &__input:checked ~ .rate-button__label:after {
    content: "star";
  }

  &:hover > .rate-button__label:after {
    content: "star_border";
  }

  > .rate-button__label:hover:after,
  &__label:hover ~ .rate-button__label:after {
    content: "star";
  }

  &.rate-button_disabled {
    pointer-events: none;
  }
}
