.rate-button {
  display: inline-flex;
  flex-direction: row-reverse;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

  & > .rate-button__label {
    cursor: pointer;
    color: $toxin-color-purple;
  }

  &__label:after {
    content: "star_border";
  }

  &__input:checked ~ .rate-button__label:after {
    content: "star";
  }

  &:hover > .rate-button__label:after {
    content: "star_border";
  }

  > .rate-button__label:hover:after,
  &__label:hover ~ .rate-button__label:after {
    content: "star";
  }

  &.rate-button_disabled {
    pointer-events: none;
  }
}
