mixin rate-button({isDisabled=false, id, count=1}={})  
  .rate-button.js-rate-button(class = (isDisabled && "rate-button_disabled") data-count = count)
    - let index = 0;
    - const total = 5;
    while index < total      
      .rate-button__star #{index > count-1 ? "star_border" : "star"}
      - index+=1;