.exMenu {
  display: flex;
  flex-shrink: 8;
  //flex-wrap: wrap;
  //justify-content: space-between;
  > .exMe1nu__list {
    border: 1px solid gray;
  }
  .exMenu__list {
    list-style: none;
  }
  .exMenu__list:not(:last-child) {    
    width: calc(100% / 3);
  }
  .exMenu__title {
    font-weight: 900;
    margin-bottom: 21px;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }
  .exMenu__item
  {
    font-size: 14px;
    line-height: 17px;
  }
  .exMenu__item:not(:last-child) {
    margin-bottom: 20px;        
  }
  .exMenu__link {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
  }
}