mixin footer-menu(items=[{title: 'Error: items is not defined'}])
  nav.footer-menu
    for item in items
      ul.footer-menu__list
        li.footer-menu__title #{item.title}
        if item.items
          for sub_item in item.items
            - const {link, text} = sub_item
            li.footer-menu__item
              a.footer-menu__link(href = link) #{text}