mixin footer-menu(data)
  nav.footer-menu
    for l in data
      ul.footer-menu__list
        li.footer-menu__title #{l.title}
        if l.items
          for i in l.items
            li.footer-menu__item
              a.footer-menu__link(href=i.link) #{i.text}