include ../../header/header
include ../../footer/footer
include ../../room-images/room-images
include ../../feedback-list/feedback-list
include ../../comfort-status-list/comfort-status-list
include ../../order-info-form/order-info-form
include ../../bullets-list/bullets-list
include ../../donut-chart/donut-chart

mixin room-details(data={})
  -
    const {
            headerData, roomImages, comfortStatusCaption, comfortStatusList, donutChart, 
            feedbackList, bulletListCaption, bulletList, cancellationCaption, cancellationText, 
            orderInfoForm, footerData
          } = data
  .room-details
    +header(headerData)
    main.room-details__main-content
      +room-images(roomImages) 
      .room-details__info
        section.room-details__column-left
          .room-details__comfort-status-list-and-donut-chart
            .room-details__wrapper-comfort-status-list
              h2.room-details__wrapper-comfort-status-list-caption #{comfortStatusCaption}
              +comfort-status-list(comfortStatusList)
            .room-details__donut-chart
              +donut-chart(donutChart)
          .room-details__feedback-list
            +feedback-list(feedbackList)
          .room-details__bullets-list-and-cancellation
            .room-details__bullets-list
              h2.room-details__bullets-list-caption #{bulletListCaption}
              +bullets-list(bulletList)            
            .room-details__cancellation
              h2.room-details__cancellation-caption #{cancellationCaption}
              p.room-details__cancellation-text #{cancellationText}
        section.room-details__column-right
          .room-details__order-info-form
            +order-info-form(orderInfoForm)
    +footer(footerData)  