* {
  @include reset;
}

html {
  @include define-html;
}

body {
  @include define-body;
  color: $toxin-color-black-75;
}

.room-details {
  &__main-content {
    width: 100%;
  }

  &__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding: 69px 5px;
    padding-bottom: 61px;    
  }

  &__column-left {
    max-width: 710px;
    margin-right: 70px;
  }

  &__comfort-status-list-and-donut-chart {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
  }
  &__bullets-list-and-cancellation {
    display: flex;
    flex-wrap: wrap;
  }

  &__cancellation {
    flex-basis: 46%;
  }

  &__bullets-list {
    flex-basis: 37%;
    margin-right: 13.802816%;
  }

  &__bullets-list-caption {
    text-transform: none;
    padding-left: 19px;
    margin-bottom: 17px;
  }

  &__cancellation-caption {
    text-transform: none;
    margin-bottom: 16px;
  }

  &__cancellation-text {
    line-height: 24px;
  }

  &__wrapper-comfort-status-list {
    margin-right: 15.07042253521127%;
  }

  &__wrapper-comfort-status-list-caption,
  &__bullets-list-caption,
  &__cancellation-caption {
    font-size: 19px;
    font-family: $toxin-font-open-sans;
  }

  &__wrapper-comfort-status-list-caption {
    margin-bottom: 19px;
  }

  &__wrapper-comfort-status-list-caption {
    text-transform: none;
  }

  &__donut-chart {
    width: 43.7%;
    margin-bottom: 20px;
  }

  &__feedback-list {
    margin-bottom: 32px;
  }

  &__column-right {
    flex-basis: 380px;
  }

  &__order-info-form {
    margin-bottom: 20px;
  }

  @media (max-width: 1185px) {
    &__donut-chart {
      width: auto;
    }

    &__column-left {
      margin-right: 20px;
    }

    &__comfort-status-list-and-donut-chart {
      justify-content: center;
    }

    &__info {
      padding: 25px 5px 30px;
    }

    .room-details__bullets-list-caption {
      padding-left: 0px;
    }

    .room-details__bullets-list {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 1085px) {
    &__wrapper-comfort-status-list {
      margin-right: 30px;
    }

    &__common-wrapper1 {
      justify-content: space-between;
    }
  }

  @media (max-width: 768px) {
    flex-wrap: wrap-reverse;
    padding: 10px 4px;

    &__column-left {
      margin-right: 0px;
    }

    &__common-wrapper1 {
      justify-content: center;
    }

    &__info {
      padding: 0px 5px 25px;
    }
  }

  @media (max-width: 379px) {
    &__column-right {
      flex-basis: 100%;
    }

    &__common-wrapper1 {
      justify-content: center;
    }

    &__bullets-list {
      min-width: 312px;
    }

    &__cancellation {
      flex-basis: auto;
    }
  }
}
