extends ../../template

include ../../components/pages/landing/landing

block variables
  - let lang = "en"
  - let title = "Бронирование номера"
  - let description = "Hotel with finding and reservation rooms"
  - let keywords = "main page, hotel, rooms, booking"
  - let path = "../../"  

block content
  +landing({
    headerData: header_data,
    roomReservationForm: {
      title:"Найдём номера под ваши пожелания",
      datepickers: [
        {caption: "Прибытие", placeholder: "ДД.ММ.ГГГГ"},
        {caption: "Выезд", placeholder: "ДД.ММ.ГГГГ", hasDatepicker: false},
      ],
      guestsInput: {
        caption: "Гости", 
        items: [
          {id: "adults", text: "Взрослые"}, 
          {id: "children", text: "Дети"}, 
          {id: "babies", text: "Младенцы"}
        ], 
        buttonClear: {text: "Очистить", isGrayed: true}, 
        buttonApply: {text: "Применить"} 
      },
      buttonFindRoom: {text: "Подобрать номер", type: "submit"}
    },
    advertisingText: "Лучшие номера для вашей работы, отдыха и просто вдохновения",
    footerData: footer_data
  })