include ../room-info/room-info
include ../px-pagination/px-pagination

mixin rooms-by-filter({title="Title", roomInfos=[], pagination}={})
  section.rooms
    h2.rooms__title #{title}
    ul.rooms__list
      for roomInfo in roomInfos
        li.rooms__item
          +room-info(roomInfo)
    .rooms__px-pagination
      +px-pagination(pagination)