.logo-with-text {
  flex-shrink: 3;
  .logo-with-text__logo {
    margin-bottom: 13px;
  }
  .logo-with-text__text {
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }
}
