include ../logo/logo

mixin logo-with-text({logoPath, desc="Description"}={})
  .logo-with-text
    .logo-with-text__logo
      +logo({pathImg: logoPath, pathUrl: "landing.html"})
    p.logo-with-text__text #{desc}