include ../logo/logo

mixin logo-with-text({logo_path, desc="Description"}={})
  .logo-with-text
    .logo-with-text__logo
      +logo({pathImg: logo_path, pathUrl: "landing.html"})
    p.logo-with-text__text #{desc}