.sign-up {
  &__main-content {
    width: 100%;
    min-height: 701px;
    background: url("../sign-in/sign.jpg") no-repeat;
    padding-top: 28px;
  }

  &__main-content-sign-up-form {
    margin: 0 auto;
    max-width: 380px;
  }
}
