*,
*::before,
*::after {
  @include reset;
}

html {
  @include define-html;
}

body {
  @include define-body;
}


.sign-up {
  &__main-content {
    width: 100%;
    min-height: 701px;
    background: url('../sign-in/sign.jpg') no-repeat;
    padding-top: 28px;
    background-size: cover;
  }

  &__main-content-sign-up-form {
    margin: 0 auto;
    max-width: 390px;
    padding: 0 5px;
  }
}
