* {
  @include reset;
}

html {
  @include define-html-uikit;
}

body {
  @include define-body-uikit;

  padding: 140px 0 132px 140px;
}

.form-elements {
  display: flex;
  flex-wrap: wrap;

  @mixin caption {
    font-size: 12px;
    font-family: $toxin-font-montserrat;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__column-left {
    margin-right: 127px;
    width: 320px;
  }

  &__column-middle,
  &__column-right {
    width: 320px;
    padding-top: 3px;
  }

  &__column-middle {
    margin-right: 72px;
  }

  &__column-left-list,
  &__column-middle-list,
  &__column-right-list {
    list-style: none;
  }

  &__column-left-item {
    margin-bottom: 20px;
  }

  &__datepicker-input-range {
    margin-bottom: 38px;
  }

  &__masked-input {
    margin-bottom: 39px;
  }

  &__column-left-datepicker-inputs-item:nth-child(1) {
    margin-right: 20px;
  }

  &__guests-input-closed {
    margin-bottom: 22px;
  }

  &__datepicker-input-range-single {
    margin-bottom: 39px;
    width: 266px;
  }

  &__subscribe-input {
    margin-bottom: 100px;
    width: 267px;
  }

  &__comfort-input {
    max-width: 266px;    
  }



  &__comfort-input-expanded {
    margin-bottom: 168px;
  }

  &__expandable-checkbox-list-hide {
    margin-bottom: 40px;
  }

  &__expandable-checkbox-list-show {
    margin-bottom: 43px;
  }

  &__comfort-status-list {
    width: 280px;
  }

  &__checkboxes-list {
    margin-bottom: 41px;
    width: 240px;
  }

  &__radios-list {
    margin-bottom: 43px;
  }

  &__toggles-list {
    margin-bottom: 45px;
  }

  &__like-buttons-wrapper {
    margin-bottom: 20px;
  }

  &__like-buttons-list {
    list-style: none;
    display: flex;
  }

  &__like-buttons-caption {
    margin-bottom: 16px;

    @include caption;
  }

  &__like-button:not(:last-child) {
    margin-right: 10px;
  }

  &__like-buttons {
    margin-bottom: 40px;
  }

  &__rate-buttons-caption {
    margin-bottom: 16px;

    @include caption;
  }

  &__rate-buttons-list {
    list-style: none;
    display: flex;
  }

  &__rate-button:not(:last-child) {
    margin-right: 20px;
  }

  &__rate-buttons {
    margin-bottom: 191px;
  }

  &__guests-input {
    margin-bottom: 257px;
  }

  &__rich-checkboxes-list {
    width: 253px;
    margin-bottom: 236px;

    .checkboxes-list__item:nth-child(1) {
      width: 220px;
    }
  }

  &__column-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__columns-middle-right {
    display: flex;
    flex-direction: row;
  }

  &__range-slider {
    width: 266px;
    margin-bottom: 40px;
  }

  &__buttons {
    margin-bottom: 40px;
  }

  &__buttons-list {
    list-style: none;
  }

  &__buttons-list-caption {
    margin-bottom: 16px;

    @include caption;
  }

  &__buttons-list-item {
    height: inherit;
  }

  &__two-buttons-list {
    list-style: none;
    display: flex;
  }

  &__buttons-list-item:not(:last-of-type) {
    margin-bottom: 29px;
  }

  &__button {
    width: 99px;
  }

  &__buttons-list-item.form-elements__simple-buttons {
    margin-bottom: 27px;
  }

  &__two-buttons-list3 .form-elements__two-buttons-item {
    height: auto;
  }

  &__two-buttons-item:first-child {
    margin-right: 19px;
  }

  &__px-pagination {
    margin-bottom: 240px;    
    float: left;    
  }

  &__pagination-wrapper-caption {
    margin-bottom: 16px;

    @include caption;
  }

  &__guests-input-open {
    margin-bottom: 257px;
  }

  &__bullets-list {
    width: 260px;
  }

  &__bullets-list-caption {
    margin-bottom: 12px;

    @include caption;
  }

  &__feedback {
    width: 712px;
  }

  &__expandable-checkbox-list-hide,
  &__expandable-checkbox-list-show {
    width: 266px;
  }
}
