.feedback-list {
  &__caption {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;
  }

  &__text {
    text-transform: none;
    font-size: 19px;
    font-family: $toxin-font-open-sans;
    margin-right: 50px;
  }

  &__item:not(:last-child) {
    margin-bottom: 23px;
  }

  &__list {
    list-style: none;
  }
}
