@import "../../components/feedback/feedback.scss";

.feedback-list__caption {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
  align-items: center;
  margin-bottom: 19px;
}

.feedback-list__text {
  text-transform: none;
  
}

.feedback-list__feedback-count {  
}

.feedback-list__item:not(:last-child) {
  margin-bottom: 23px;
}