include ../feedback/feedback

mixin feedback-list(data)
  article.feedback-list
    header.feedback-list__caption
      h2.feedback-list__text #{data.caption}
      span.feedback-list__feedback-count #{data.count}
    ul.feedback-list__list
      for feedback in data.feedbacks
        li.feedback-list__item
          +feedback(feedback)