include ../../header/header
include ../../room-reservation-form/room-reservation-form
include ../../footer/footer

mixin landing({headerData, roomReservationForm, advertisingText, footerData}={})
  .landing
    +header(headerData)
    main.landing__main-content
      section.landing__room-reservation-form
        +room-reservation-form(roomReservationForm)
      p.landing__text #{advertisingText}
    +footer(footerData)