* {
  @include reset;
}

html {
  @include define-html;
}

body {
  @include define-body;
}

.landing {
  &__main-content {
    width: 100%;
    min-height: 830px;
    position: relative;
    padding-top: 70px;
    background: url('index.jpg') no-repeat;
    background-size: cover;
  }

  &__room-reservation-form {
    max-width: 1160px;
    margin: 0 auto 0 9.375%;
  }

  &__text {
    color: $toxin-color-black-75;
    max-width: 297px;
    position: absolute;
    right: 9.236111111111111%;
    bottom: 21px;
    line-height: 24px;
    text-align: right;
  }

  @media (max-width: 1195px) {
    min-height: 740px;

    &__room-reservation-form {
      max-width: 380px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      padding: 0 5px;
    }

    &__text {
      margin: 10px auto;
      text-align: center;
      position: static;
      color: #fff;
    }

    &__main-content {
      min-height: 495px;
      padding-top: 30px;
    }
  }
}
