include ../../common
include ../../components/header/header
include ../../components/footer/footer
include ../../components/sign-in-form/sign-in-form

doctype html
html(lang="en")
  head
    +meta-tags({description:'Sign-in page', keywords:'sign-in, login, password'})    
    title Войти
    +favicon({path:'../../'})    
    link(href="sign-in.css" rel="stylesheet")
  body            
    +header(header_data)     
    main.main-content  
      section.main-content__sign-in-form
        +sign-in-form
    +footer(footer_data)
    script(type="text/javascript" src="sign-in.js")