extends ../../template

include ../../components/pages/sign-in/sign-in

block variables
  - let lang = "en"
  - let title = "Войти"
  - let description = "Sign-in page"
  - let keywords = "sign-in, login, password"
  - let path = "../../"
  - let css = "sign-in.css"

block content
  +sign-in({
    headerData: header_data,
    signinForm: {
      caption: "Войти", 
      textThereIsNotAccount: 'Нет аккаунта на Toxin?',
      textInputEmail: {placeholder: "Email", type: "email"},
      textInputPassword: {placeholder: "Пароль", type: "password"},
      buttonSignIn: {text:"Войти", type:"submit"},
      buttonSignUp: {text:"Создать", dynamic_height:true}
    },
    footerData: footer_data
  })

block script
  script(type="text/javascript" src="sign-in.js")