@import "../../common.scss";

@import "../../fonts/FA5_Brands-Regular-400/fonts.css";
@import "../../fonts/MaterialIcons/material-icons.css";
@import "../../fonts/Montserrat/fonts.css";
@import "../../fonts/Open-Sans/fonts.css";

$header-media1: 888px;
$header-media2: 715px;
$header-media3: 488px;
@import "../../components/header/header.scss";
@import "../../components/footer/footer.scss";
@import "../../components/sign-in-form/sign-in-form.scss";

.main-content {
  width: 100%;
  min-height: 754px;
  background: url("../../images/backgrounds/sign-in.jpg") no-repeat;
}

.main-content__sign-in-form {
  margin: 162px auto 0 auto;
  max-width: 380px;
}

.menu > .menu__list > .menu__item.menu__item:not(:last-of-type) {
  margin-right: 20px;
}

.header__wrapper-menu {
  margin-right: 20px;
}

@media (max-width: 365px) {
  .header__wrapper-logo {
    display: none;
  }
}