$myblue: #008ed6;

.button {
  border: none;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  background: none;
  color: #bc9cff;
  margin: 0px;
  padding: 10px 20px;
  //display: block;
  cursor: pointer;
  text-transform: uppercase;
}

.button_bordered {    
  position: relative;
  background: transparent;
  border-radius: 22px;    
  z-index: 1;
}

.button_bordered:before, 
.button_bordered:after {
  content: ' ';
  position: absolute;
  border-radius: 22px;
}

.button_bordered:before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  background: #bc9cff;      
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc9cff', endColorstr='#8ba4f9',GradientType=1 );
}

.button_bordered:after {
  top: 2px; 
  bottom: 2px;
  left: 2px;
  right: 2px;
  background-color: white;
  z-index: -1;   
}

.button_background_colored {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #ffffff;
}






.button_arrow {
  padding: 15px 20px;
  width: 100%;  
}
.button_arrow:after {
  font-family: "Material Icons";
  content: "arrow_forward";    
  float: right;
  font-size: 24px;
  text-transform: none;
}
//-------------------------------------------------
.button.btnSimple.button_disabled {
  color: rgba(31, 32, 65, 0.5);
}

.button.button_bordered.button_disabled {
  border: 2px solid #bc9cff7f;
}

.button.button_background_colored.button_disabled {
  background: linear-gradient(180deg, #bc9cff7f 0%, rgba(139, 164, 249, 0.5) 100%);
}
