.like-button {
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

  &__count {
    font-size: 10px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid $toxin-color-black-25;
    border-radius: 10px;
    color: $toxin-color-black-25;
    padding: 2px 5px 3px;
    min-width: 40px;
    cursor: pointer;
  }

  &__count:before {
    font-family: $toxin-font-material-icon;
    content: "favorite_border";
    margin-right: 5px;
  }

  &__input:checked + {
    .like-button__count {
      border: 1px solid $toxin-color-purple;
      color: $toxin-color-purple;
    }
    .like-button__count:before {
      content: "favorite";
    }
  }
}
