mixin like-button({isChecked, count=0}={})
  label.like-button.js-like-button
    input.like-button__input(type = "checkbox" checked = (isChecked && "checked"))
    .like-button__border
      .like-button__count #{count}