.like-button__input {
  display: none;
}

.like-button__count {
  font-family: "montserrat_regular";
  font-size: 10px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $toxinDS25;
  border-radius: 10px;
  color: $toxinDS25;
  padding: 0px 5px;
  height: 20px;
  min-width: 40px;
  cursor: pointer;
}

.like-button__count:before {
  font-family: "Material Icons";
  content: "favorite_border";
  margin-right: 5px;
}

.like-button__input:checked + {
  .like-button__count {
    border: 1px solid $toxinPurple;
    color: $toxinPurple;
  }
  .like-button__count:before {
    content: "favorite";
  }
}
