.like-button {
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

  &__count {
    font-size: 10px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid $toxin-color-black-25;
    border-radius: 10px;
    color: $toxin-color-black-25;
    padding: 2px 5px 3px;
    min-width: 40px;
    cursor: pointer;

    &::before {
      font-family: $toxin-font-material-icon;
      content: 'favorite_border';
      margin-right: 5px;
    }
  }

  &__input:checked + .like-button__border {
    border: none;
    position: relative;
    background: transparent;
    z-index: 1;

    &::before,
    &::after {
      font-family: $toxin-font-material-icon;
      content: ' ';
      position: absolute;
      border-radius: 10px;
    }

    &::before {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -2;
      background: #bc9cff;
      background: $toxin-gradient-purple-blue;                  
    }

    &::after {
      top: 1px;
      bottom: 1px;
      left: 1px;
      right: 1px;
      background-color: white;
      z-index: -1;
    }

    .like-button__count {
      color: $toxin-color-purple;

      &::before {
        content: 'favorite';
      }
    }
  }
}
