@import "../../../node_modules/item-quantity-dropdown/lib/item-quantity-dropdown.min.css";
@import "../../../node_modules/ion-rangeslider/css/ion.rangeSlider.css";
@import "../../../node_modules/air-datepicker/dist/css/datepicker.css";

* {
  @include reset;
}

html {
  @include define-html;
}

body {
  @include define-body;
}

.header .header-menu > .header-menu__list > .header-menu__item.header-menu__item:not(:last-of-type) {
  margin-right: 20px;
}

.header .header__header-menu {
  margin-right: 20px;
}

.main-content {
  display: flex;
  justify-content: center;
  background: $toxin-color-light-gray;
  padding: 28px 15px 79px 15px;
  min-height: 918px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
  }

  @media (max-width: 658px) {
    &__wrapper {
      justify-content: space-between;
    }
  }

  @media (max-width: 600px) {
    &__wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.filters {
  margin-right: 60px;

  &__list {
    list-style: none;
    min-width: 266px;
  }

  &__item {
    margin-bottom: 15px;
  }

  &__wrapper-datepicker-input {
    margin-bottom: 21px;
  }

  &__wrapper-guests-input {
    margin-bottom: 30px;
  }

  &__wrapper-range-slider {
    margin-bottom: 29px;
  }

  &__wrapper-range-cost {
    margin-bottom: 33px;
    max-width: 230px;
  }

  &__wrapper-accessibility {
    margin-bottom: 30px;
    max-width: 253px;
  }

  &__wrapper-comfort {
    margin-bottom: 25px;
  }

  @media (max-width: 658px) {
    margin-right: 10px;
  }
}
