@import "../../common.scss";

@import "../../fonts/fa5-brands-regular-400/fonts.css";
@import "../../fonts/material-icons/material-icons.css";
@import "../../fonts/Montserrat/fonts.css";
@import "../../fonts/Open-Sans/fonts.css";
@import "../../fonts/Quicksand/fonts.css";

$header-media1: 888px;
$header-media2: 715px;
$header-media3: 488px;
@import "../../components/header/header.scss";
@import "../../components/footer/footer.scss";
@import "../../../node_modules/air-datepicker/dist/css/datepicker.css";
@import "../../components/datepicker-input/datepicker-input.scss";
@import "../../components/guests-input/guests-input.scss";

@import "../../../node_modules/ion-rangeslider/css/ion.rangeSlider.css";
@import "../../components/range-slider/range-slider.scss";

@import "../../components/checkbox/checkbox.scss";
@import "../../components/checkboxes-list/checkboxes-list.scss";
@import "../../components/comfort-input/comfort-input.scss";
@import "../../components/expandable-checkbox-list/expandable-checkbox-list.scss";
@import "../../components/pagination/pagination.scss";
@import "../../components/room-info/room-info.scss";

.menu > .menu__list > .menu__item.menu__item:not(:last-of-type) {
  margin-right: 20px;
}

.header__header-menu {
  margin-right: 20px;
}

.main-content {
  display: flex;
  justify-content: center;
  background: $toxin-color-light-gray;
  padding: 28px 15px 79px 15px;
  min-height: 918px;
}
.main-content__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
}
.filters {
  margin-right: 60px;
  min-width: 266px;
  width: 266px;
}

.filters__item {
  margin-bottom: 15px;
}

.rooms {
  max-width: 846px;
  display: flex;
  flex-direction: column;
  padding-top: 1px;
}

.rooms__title {
  margin-bottom: 21px;
  text-transform: none;
}

.rooms__list {
  display: flex;
  margin-bottom: 19px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rooms__item {
  width: 270px;
  margin-bottom: 18px;
}

.rooms__wrapper-pagination {
  margin: 0 auto;
  min-width: 241px;
}

.filters__wrapper-datepicker-input {
  margin-bottom: 21px;
}

.filters__wrapper-guests-input {
  margin-bottom: 30px;
}

.filters__wrapper-range-slider {
  margin-bottom: 29px;
}

.filters__wrapper-range-cost {
  margin-bottom: 33px;
  max-width: 230px;
}

.filters__wrapper-accessibility {
  margin-bottom: 26px;
  max-width: 253px;
  .checkboxes-list__item:nth-child(1) {
    max-width: 220px;
  }
}

.filters__wrapper-comfort {
  margin-bottom: 25px;
}

// Additional media queries for header-----------------------------------------
@media (max-width: 365px) {
  .header__logo {
    display: none;
  }
}
// Media queries for main content-----------------------------------
@media (max-width: 1197px) {
  .rooms__list {
    justify-content: flex-start;
    .rooms__item {
      margin-right: 12px;
    }
  }
}
@media (max-width: 658px) {
  .main-content__wrapper {
    justify-content: space-between;
  }
  .filters {
    margin-right: 10px;
  }
}
@media (max-width: 600px) {
  .main-content__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .rooms__list {
    justify-content: center;
  }
  .rooms__title {
    text-align: center;
  }
}
//Media queries for footer-------------------------------------------
@media (max-width: 815px) {
}
