include ../../common
include ../../components/header/header
include ../../components/footer/footer
include ../../components/datepicker-input/datepicker-input
include ../../components/guests-input/guests-input
include ../../components/range-slider/range-slider
include ../../components/checkboxes-list/checkboxes-list
include ../../components/comfort-input/comfort-input
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/pagination/pagination
include ../../components/room-info/room-info
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Поиск номеров
    +favicon    
    link(href="sr.css" rel="stylesheet")
  body        
    +header({logo_path:"../../components/logo/logo.svg", login:'Войти', reg:'Зарегистрироваться', isAuth:false, 
                             menu: [{text:'О нас', link:'#'},
                                    {text:'Услуги', link: '#', 
                                      sm:[
                                        {text:'Пунтк21', link: '#'},
                                        {text:'Пунтк22', link: '#'},
                                        {text:'Пунтк23', link: '#'},
                                        {text:'Пунтк24', link: '#'},
                                        {text:'Пунтк25', link: '#'},
                                      ]},
                                    {text:'Вакансии', link: '#'},
                                    {text:'Новости', link: '#'},
                                    {text:'Соглашения', link: '#',
                                      sm:[
                                        {text:'Пунтк51', link: '#'},
                                        {text:'Пунтк52', link: '#'},
                                        {text:'Пунтк53', link: '#'},
                                      ]},                                    
                                    ]})      
    main.main-content       
      .main-content__wrapper
        section.filters
          ul.filters__list
            li.filters__item.filters__wrapper-datepicker-input
              +datepicker-input({id:'filters_di', caption:'Даты пребывания в отеле', placeholder:'Выберите дату'})
            li.filters__item.filters__wrapper-guests-input
              +guests-input({caption:'Гости', 
                iqdd:{isExpanded:false, placeholder:'', 
                      items:[{id:'adults', name:'ВЗРОСЛЫЕ', defaultcount:2},
                            {id:'childs', name:'ДЕТИ', defaultcount:1},
                            {id:'babies', name:'МЛАДЕНЦЫ', defaultcount:1}] }})
            li.filters__item.filters__wrapper-range-slider
              +range-slider({ctext:'Диапазон цены', min:0, max:15000, from: 4500, to:9600, desc:'Стоимость за сутки пребывания в номере' })
            li.filters__item.filters__wrapper-range-cost
              +checkboxes-list({caption:'checkbox buttons', checkboxes:[{id:'smoke',text:'Можно курить'},
                                                                      {id:'pet',text:'Можно с питомцами', isChecked:true},
                                                                      {id:'guest',text:'Можно пригласить гостей (до 10 человек)',isChecked:true}
                                                                      ]})               
            li.filters__item.filters__wrapper-accessibility
              +checkboxes-list({caption:'Доступность', 
                    checkboxes:[{id:'wk',text:'Широкий коридор', desc:'Ширина коридоров в номере не менее 91 см.'},
                                {id:'hfi',text:'Помощник для инвалидов', desc:'На 1 этаже вас встретит специалист и проводит до номера.'}
                              ]})
            li.filters__item.filters__wrapper-comfort
              +comfort-input({caption:'Удобства номера', 
                iqdd:{isExpanded:false, placeholder:'', 
                      items:[{id:'bedrooms', name:'СПАЛЬНИ', defaultcount:2},
                              {id:'beds', name:'КРОВАТИ', defaultcount:2},
                              {id:'bathrooms', name:'ВАННЫЕ КОМНАТЫ'}] }})

            li.filters__item   
              +expandable-checkbox-list({isExpand:false, caption:'Дополнительные удобства', checkboxes:[{id:'bf', text:'Завтрак'},
                                                                            {id:'desk', text:'Письменный стол', isChecked:true},
                                                                            {id:'chair', text:'Стул для кормления', isChecked:true},
                                                                            {id:'bed', text:'Кроватка', isChecked:true},
                                                                            {id:'tv1', text:'Телевизор'},
                                                                            {id:'shampoo1', text:'Шампунь'},
                                                                            {id:'tv2', text:'Телевизор'},
                                                                            {id:'shampoo2', text:'Шампунь'}
                                                                            ]})                                                                                     
        section.rooms
          h1.rooms__title Номера, которые мы для вас подобрали
          ul.rooms__list
            li.rooms__item
              +room-info({id:'image-slider1', number:888, isLux:true, cost:'9 990', starscount:5, commentscount:145, isShowNavBtns:true,
                    images:[
                    '../../images/rooms/888/image1.png',
                    'http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg',
                    'http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg',
                    'http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg',
                    ]})
            li.rooms__item
              +room-info({id:'image-slider2', number:840, cost:'9 990', starscount:4, commentscount:65,
                    images:[
                    '../../images/rooms/840/image1.png',
                    'http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg',
                    'http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg',
                    'http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg',
                    ]})
            li.rooms__item
              +room-info({id:'image-slider3', number:980, isLux:true, cost:'8 500', starscount:3, commentscount:35,
                    images:[
                    '../../images/rooms/980/image1.png',
                    'http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg',
                    'http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg',
                    'http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg',
                    ]})
            li.rooms__item
              +room-info({id:'image-slider4', number:856, cost:'7 300', starscount:5, commentscount:19,
                    images:[
                    '../../images/rooms/856/image1.png',
                    'http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg',
                    'http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg',
                    'http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg',
                    ]})
            li.rooms__item
              +room-info({id:'image-slider5', number:740, cost:'6 000', starscount:4, commentscount:44,
                    images:[
                    '../../images/rooms/740/image1.png',
                    'http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg',
                    'http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg',
                    'http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg',
                    ]})
            li.rooms__item
              +room-info({id:'image-slider6', number:982, cost:'5 800', starscount:3, commentscount:56,
                    images:[
                    '../../images/rooms/982/image1.png',
                    'http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg',
                    'http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg',
                    'http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg',
                    ]})
            li.rooms__item
              +room-info({id:'image-slider7', number:678, cost:'5 500', starscount:5, commentscount:45,
                    images:[
                    '../../images/rooms/678/image1.png',
                    'http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg',
                    'http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg',
                    'http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg',
                    ]})
            li.rooms__item
              +room-info({id:'image-slider8', number:450, cost:'5 300', starscount:4, commentscount:39,
                    images:[
                    '../../images/rooms/450/image1.png',
                    'http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg',
                    'http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg',
                    'http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg',
                    ]})
            li.rooms__item
              +room-info({id:'image-slider9', number:350, isLux:true, cost:'5 000', starscount:3, commentscount:77,
                    images:[
                    '../../images/rooms/350/image1.png',
                    'http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg',
                    'http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg',
                    'http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg',
                    ]})
            li.rooms__item
              +room-info({id:'image-slider10', number:666, isLux:true, cost:'5 000', starscount:5, commentscount:25,
                    images:[
                    '../../images/rooms/666/image1.png',
                    'http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg',
                    'http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg',
                    'http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg',
                    ]})
            li.rooms__item
              +room-info({id:'image-slider11', number:444, isLux:true, cost:'5 000', starscount:3, commentscount:15,
                    images:[
                    '../../images/rooms/444/image1.png',
                    'http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg',
                    'http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg',
                    'http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg',
                    ]})
            li.rooms__item
              +room-info({id:'image-slider12', number:352, isLux:true, cost:'5 000', starscount:3, commentscount:55,
                    images:[
                    '../../images/rooms/352/image1.png',
                    'http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg',
                    'http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg',
                    'http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg',
                    ]})
          .rooms__wrapper-pagination
            +pagination({pages:15, page:1, showed:12, showedlastpage:6, total:100})
    +footer({logo_path:"../../components/logo/logo.svg", menu:[
        {title:'Навигация',items:[{text:'О нас', link:'about.html'},
                                     {text:'Новости', link:'news.html'},
                                     {text:'Служба поддержки', link:'support.html'},
                                     {text:'Услуги', link:'products.html'}]},
        {title:'О нас',  items:[{text:'О сервисе', link:'who.html'},
                                     {text:'Наша команда', link:'team.html'},
                                     {text:'Вакансии', link:'careers.html'},
                                     {text:'Инвесторы', link:'investors.html'}]},
        {title:'Служба поддержки',   items:[{text:'Соглашения', link:'doc.html'},
                                     {text:'Сообщества', link:'com.html'},
                                     {text:'Связь с нами', link:'git.html'}]}
        ], desc:'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
           sub:{caption:'Подписка', desc:'Получайте специальные предложения и новости сервиса', placeholder:'Email'},
           copyright: 'Copyright © 2018 Toxin отель. Все права зачищены.'
        })
    script(type="text/javascript" src="sr.js")