.iqdropdown {
  align-items: center;
  border: 1px solid $toxin-color-black-25;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: space-between;  
  padding-right: 15px;
  position: relative;
  background: #fff;
  width: 100%;
  
}

.iqdropdown button {
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.iqdropdown .iqdropdown__icon-decrement {
  display: inline-block;
  height: 15px;
  margin: auto;
  min-width: 15px;
  position: relative;
  width: 15px;
}
.iqdropdown .iqdropdown__icon-decrement::after {
  background: rgba(31, 32, 65, 0.5);
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 5px;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  width: 5px;
}
.iqdropdown .iqdropdown__icon-decrement.iqdropdown__icon-increment::before {
  background: rgba(31, 32, 65, 0.5);
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 4px;

  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  width: 5px;
}

.iqdropdown__button-increment .iqdropdown__icon-decrement.iqdropdown__icon-increment::before
{
  width: 8px;
}
.iqdropdown__button-increment .iqdropdown__icon-decrement::after {
  width: 8px;
  left: 4px;
}

.iqdropdown .iqdropdown__menu {  
  background: #fff;
  outline: 1px solid rgba(31, 32, 65, 0.5);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: default;
  display: none;
  padding: 6px 7px 9px 13px;
  position: absolute;
  left: 0px;
  top: 43px;
  transition: all 0.2s ease-in-out;
  z-index: 99999;  
  width: 100%;
}
.iqdropdown .iqdropdown__menu-option {
  align-items: center;
  display: flex;
  height: 28px;
}

.iqdropdown .iqdropdown__menu-option:not(:last-child) {
  margin-bottom: 9px;
}

.iqdropdown .iqdropdown__menu-option:last-child {
  border: 0;
}
.iqdropdown .iqdropdown-menu-close {
  color: #002674;
  font-size: 14px;
  font-weight: 600;
  height: 20px;
  margin: 20px 0;
  padding: 0 15px;
  text-align: right;
  width: 100%;
}
.iqdropdown.iqdropdown_show .iqdropdown__menu {
  display: block;
}

.iqdropdown__content {
  flex: 1;
  padding-right: 10px;  
}
.iqdropdown__item {
  color: $toxin-color-black-100;
  font-size: 12px;
  font-weight: bold;
  
}
.iqdropdown p.iqdropdown-description {    
  margin-top: 5px;
}
.iqdropdown .iqdropdown__item-controls {
  display: flex;
  height: 30px;
  justify-content: space-between;
  width: 91px;
}
.iqdropdown .iqdropdown__item-controls .iqdropdown__counter {
  color: #4a4a4a;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  padding-top: 7px;

  width: 30px;
  text-align: center;
}
.iqdropdown .iqdropdown__item-controls button {
  align-items: center;
  border: 1px solid #e2e2e2;
  display: flex;
  height: 30px;
  width: 30px;
  transition: all 0.2s ease-in-out;
}
.iqdropdown .iqdropdown__item-controls button:hover {
  background-color: #eee;
}

.iqdropdown .iqdropdown__item-controls .iqdropdown__button-increment,
.iqdropdown .iqdropdown__item-controls .iqdropdown__button-decrement {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.iqdropdown .iqdropdown__item-controls button.iqdropdown__button-decrement {
  border-radius: 100%;
}

.iqdropdown .iqdropdown__item-controls button.iqdropdown__button-increment {
  border-radius: 100%;
}


.iqdropdown.iqdropdown.menu-open,
.iqdropdown:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.iqdropdown .iqdropdown__selection {
  color: rgba(31, 32, 65, 0.75);
  font-size: 14px;
  flex: 1;
  position: relative;  
  padding: 5px 15px 8px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.iqdropdown .iqdropdown__selection::after {
  font-family: "Material Icons";
  font-size: 24px;
  content: "keyboard_arrow_down";
  display: inline-block;
  height: 5px;
  width: 12px;
  position: absolute;
  right: 6px;
  bottom: 22px;
}

.iqdropdown .iqdropdown__button-decrement.iqdropdown__button-decrement_disable,
.iqdropdown .iqdropdown__button-increment.iqdropdown__button-increment_disable {
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.iqdropdown__buttons {
  padding-top: 13px;
  margin-bottom: 2px;
  display: flex;
}

.iqdropdown__buttons .iqdropdown__clear {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 12px;
  color: rgba(31, 32, 65, 0.5);
}
.iqdropdown__buttons .iqdropdown__clear.iqdropdown__clear_hide {
  display: none;
}
.iqdropdown__buttons .iqdropdown__apply {
  margin-left: auto;
  color: #bc9cff;  
  font-weight: bold;
  font-size: 12px;  
}
