.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__column1,
  &__column2 {
    width: 380px;
  }

  &__column3 {
    width: 320px;
  }

  &__column1,
  &__column2 {
    margin-right: 40px;
  }

  &__column1-list,
  &__column2-list,
  &__column3-list {
    list-style: none;
  }

  &__column1-list,
  &__column2-list {
    width: 100%;
  }

  &__column1-item,
  &__column2-item {
    margin-bottom: 40px;
    width: 100%;
  }

  &__column3-list {
    list-style: none;
  }

  &__column3-item {
    margin-bottom: 40px;
  }

  &__column3-wrapper-for-image-slider {
    width: 270px;
    margin-bottom: 37px;
  }

  @media (max-width: 480px) {
    &__column1,
    &__column2 {
      margin-right: 0px;
    }
  }
}
