include ../../../room-reservation-form/room-reservation-form
include ../../../sign-up-form/sign-up-form
include ../../../order-info-form/order-info-form
include ../../../sign-in-form/sign-in-form
include ../../../toxin-datepicker/toxin-datepicker
include ../../../room-info/room-info
include ../../../image-slider/image-slider

mixin cards(data={})
  -
    const {
            roomReservationForm, signupForm, orderInfoForm, 
            signinForm, toxinDatepicker, 
            roomInfoFocused, roomInfo
          } = data
  .cards
    .cards__column-left
      ul.cards__column-left-list
        li.cards__column-left-item
          +room-reservation-form(roomReservationForm)
        li.cards__column-left-item       
          +sign-up-form(signupForm) 
    .cards__column-middle
      ul.cards__column-middle-list
        li.cards__column-middle-item
          +order-info-form(orderInfoForm)
        li.cards__column-middle-item
          +sign-in-form(signinForm)
    .cards__column-right
      ul.cards__column-right-list
        li.cards__column-right-item
          +toxin-datepicker(toxinDatepicker)
        li.cards__column-right-item.cards__room-info
          +room-info(roomInfoFocused)
        li.cards__column-right-item.cards__room-info
          +room-info(roomInfo)