.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__column-left,
  &__column-middle {
    width: 380px;
  }

  &__column-right {
    width: 320px;
  }

  &__column-left,
  &__column-middle {
    margin-right: 40px;
  }

  &__column-left-list,
  &__column-middle-list,
  &__column-right-list {
    list-style: none;
  }

  &__column-left-list,
  &__column-middle-list {
    width: 100%;
  }

  &__column-left-item,
  &__column-middle-item {
    margin-bottom: 40px;
    width: 100%;
  }

  &__column-right-list {
    list-style: none;
  }

  &__column-right-item {
    margin-bottom: 40px;
  }

  &__image-slider {
    width: 270px;
    margin-bottom: 37px;
  }

  @media (max-width: 480px) {
    &__column-left,
    &__column-middle {
      margin-right: 0px;
    }
  }
}
