include ../text-input/text-input
include ../button-arrow/button-arrow
include ../button-bordered/button-bordered

mixin sign-in-form(data)
  -
    const {
            caption, textThereIsNotAccount, textInputEmail, 
            textInputPassword, buttonSignIn, buttonSignUp
          } = data
  form.sign-in-form(method = "post" action = "#")
    fieldset.sign-in-form__fieldset
      h1.sign-in-form__caption #{caption}
      ul.sign-in-form__list
        li.sign-in-form__item
          +text-input(textInputEmail)
        li.sign-in-form__item
          +text-input(textInputPassword)        
      .sign-in-form__button-arrow          
        +button-arrow(buttonSignIn)        
      .sign-in-form__wrapper-for-sign-in-button
        p.sign-in-form__sign-in-text #{textThereIsNotAccount}
        .sign-in-form__wrapper-sign-up-button
          +button-bordered(buttonSignUp)