.si-form {
  width: 380px;
}
.si-form__fieldset {
  margin-bottom: 30px;
}
.si-form__caption {
  margin-bottom: 20px;
}
.si-form__list {
  list-style-type: none;
  margin-bottom: 20px;
}

.si-form__item {
  margin-bottom: 10px;
}



.si-form__wrapper-for-sign-in-button {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.si-form__sign-in-text {
  color:#000;
  width: 186px;
  margin-right: 35px;
}

.si-form__wrapper-sign-up-button {
  width: 99px;
  height: 44px;
}