include ../text-input/text-input
include ../button/button

mixin sign-in-form(data={})
  -
    const {
            caption="Caption", textThereIsNotAccount, textInputEmail, 
            textInputPassword, buttonSignIn, buttonSignUp
          } = data
  form.sign-in-form(method = "post" action = "#")
    fieldset.sign-in-form__fieldset
      h2.sign-in-form__caption #{caption}
      ul.sign-in-form__list
        li.sign-in-form__item
          +text-input(textInputEmail)
        li.sign-in-form__item
          +text-input(textInputPassword)        
      .sign-in-form__button-arrow
        +button({styleType: "arrowed", type: "submit", text: buttonSignIn.text})        
      .sign-in-form__wrapper-for-sign-in-button
        p.sign-in-form__sign-in-text #{textThereIsNotAccount}
        .sign-in-form__wrapper-sign-up-button
          +button({styleType: "unfilled", isDynamicWidth: true, text: buttonSignUp.text, link: buttonSignUp.link})