.guests-input {
  max-width: 320px;
  width: 100%;
  font-family: $toxin-font-montserrat;

  &__caption {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    font-family: inherit;
    text-transform: uppercase;
  }

  &__buttons {
    padding-top: 12px;
    padding-bottom: 2px;
    display: flex;
    justify-content: space-between;
  }
}
