include ../button/button
include ../iqdropdown/iqdropdown

mixin guests-input({isOpen, caption, items, buttonClear, buttonApply}={})
  .guests-input.js-guests-input
    if caption
      label.guests-input__caption #{caption}
    +iqdropdown({isOpen: isOpen, items: items})
      .guests-input__buttons
        .guests-input__button-clear
          +button({text: buttonClear.text, isGrayed: true})
        .guests-input__button-apply
          +button({text: buttonApply.text})