include ../button-simple/button-simple
include ../iqdropdown/iqdropdown

mixin guests-input({isOpen, caption, items, buttonClear, buttonApply})
  .guests-input.js-guests-input
    h2.guests-input__caption #{caption}
    +iqdropdown({isOpen: isOpen, items: items})
      .guests-input__buttons
        .guests-input__button-simple-clear
          +button-simple(buttonClear)
        .guests-input__button-simple-apply
          +button-simple(buttonApply)