.datepicker-inline .datepicker,
.datepicker {
  font-family: $toxin-font-montserrat;
  font-size: 12px;
  width: 320px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  padding: 15px 15px 19px;
  color: $toxin-color-black-50;

  &--nav {
    min-height: 24px;
    border-bottom: none;
    margin-bottom: 26px;
  }
  &--nav-action {
    width: 24px;
    font-family: $toxin-font-material-icon;
    font-size: 24px;
    color: $toxin-color-purple;
  }
  &--nav-title {
    font-family: $toxin-font-open-sans;
    font-weight: bold;
    font-size: 19px;
    color: $toxin-color-black-100;
  }

  &--days-names {
    margin-top: 9px;
    padding-right: 4px;
    margin-bottom: 4px;
  }

  &--day-name {
    color: $toxin-color-purple;
    font-weight: bold;
    text-transform: none;
    margin-bottom: 11px;
  }

  &--cell-day {
    width: 39.88px;
    height: 40px;
  }

  &--content {
    padding: 3px 0px 3px 6px;
  }

  &--cell-day.-range-from-.-selected-:not(.-focus-) {
    position: relative;
    z-index: auto;
    color: transparent;
  }
  &--cell-day.-range-from-.-selected-:not(.-focus-):before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 40px;
    background: $toxin-color-purple;
    background: linear-gradient(180deg, #bc9cff7f 0%, #8ba4f97f 100%);
  }
  &--cell-day.-range-from-.-selected-:not(.-focus-):after {
    content: attr(data-date);
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $toxin-color-purple;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--cell-day.-range-to-.-selected-:not(.-focus-) {
    position: relative;
    z-index: auto;
    color: transparent;
  }
  &--cell-day.-range-to-.-selected-:not(.-focus-):before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: $toxin-color-purple;
    background: linear-gradient(180deg, #bc9cff7f 0%, #8ba4f97f 100%);
  }
  &--cell-day.-range-to-.-selected-:not(.-focus-):after {
    content: attr(data-date);
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: $toxin-color-purple;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--cell-day.-selected- {
    border-radius: 50%;
    background: $toxin-color-purple;
    background: linear-gradient(180deg, $toxin-color-purple 0%, #8ba4f9 100%);
  }

  &--cell-day.-in-range- {
    background: $toxin-color-purple;
    background: linear-gradient(180deg, #bc9cff7f 0%, #8ba4f97f 100%);
    color: $toxin-color-black-50;
  }
  &--cell-day.-selected-.-focus- {
    background: $toxin-color-blue;
  }

  &--cell-day.-other-month-.-in-range-.-focus- {
    color: white;
  }

  &--cell-day.-other-month-.-in-range- {
    color: white;
    background: $toxin-color-purple;
    background: linear-gradient(180deg, #bc9cff7f 0%, #8ba4f97f 100%);
  }

  &--cell-day.-range-from-:not(.-selected-),
  &--cell-day.-range-from-.-focus- {
    border: 1px solid $toxin-color-purple;
    background-color: rgba(139, 164, 249, 0.1);
    border-radius: 50% 0 0 50%;
  }

  &--cell-day.-range-to-:not(.-selected-),
  &--cell-day.-range-to-.-focus- {
    border: 1px solid $toxin-color-purple;
    background-color: rgba(139, 164, 249, 0.1);
    border-radius: 0 50% 50% 0;
    color: $toxin-color-black-50;
  }

  &--cell-day.-range-from-.-selected-.-focus-,
  &--cell-day.-range-to-.-selected-.-focus- {
    color: $toxin-color-black-75;
  }

  &--cell-day.-in-range-.-current-,
  &--cell-day.-current- {
    color: white;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 50%;
  }

  &--cell-day.-in-range-.-current- {
    position: relative;
  }

  &--cell-day.-in-range-.-current-:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: $toxin-color-purple;
    background: linear-gradient(180deg, #bc9cff7f 0%, #8ba4f97f 100%);
  }

  .-selected-.datepicker--cell-day.-other-month- {
    background: $toxin-color-purple;
    background: linear-gradient(180deg, $toxin-color-purple 0%, #8ba4f9 100%);
  }

  &--cell-day.-focus- {
    border-radius: 50%;
  }

  &--cell-day.-disabled- {
    pointer-events: none;
  }

  &--pointer {
    display: none;
  }

  &.-from-bottom- {
    transform: translateY(-8px);
  }

  &__buttons {
    border-top: none;
    height: auto;
    display: flex;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 17px;
    padding: 0px 4px;
    justify-content: space-between;
  }

  &__button-clear {
    display: inline-block;
    color: $toxin-color-black-50;
    cursor: pointer;
  }
  &__button-apply {
    display: inline-block;
    color: $toxin-color-purple;
    cursor: pointer;
  }
}
