// data={caption:string, placeholder:string, type:string, classes: string}
mixin dropdown-input(data)
  label(class="dropdown-input__caption" for="input") #{data.caption}
  .dropdown-input__wrapper
    input(class="dropdown-input__input"+ (data.classes ? " "+data.classes : "") id="input" type=data.type placeholder=data.placeholder value=data.text)

