mixin dropdown-input(data)
  .dropdown-input
    label(class="dropdown-input__caption" for="input") #{data.caption}
    .dropdown-input__wrapper
      input(class="dropdown-input__input"+ (data.classes ? " "+data.classes : "") id="input" type=data.type placeholder=data.placeholder)

