.dropdown-input__caption {
  display: block;
  font-weight: bold;
  color: $toxin-color-black-100;
  margin-bottom: 5px;
}

.dropdown-input__input {
  border: 1px solid $toxin-color-black-25;
  border-radius: 4px;
  background: white;
  padding: 13px 15px;

  height: 44px;
}

.dropdown-input__input::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: $toxin-color-black-25;
}
.dropdown-input__input:focus,
.dropdown-input_isFocused {
  border: 1px solid $toxin-color-black-50;
}

.dropdown-input__wrapper {
  display: inline-block;
  position: relative;
}

.dropdown-input__wrapper:after {
  content: "keyboard_arrow_down";
  font-family: $toxin-font-material-icon;
  color: $toxin-color-black-50;
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
