include ../checkbox/checkbox

mixin expandable-checkbox-list(data)
  .expandable-checkbox-list(class=(data.isExpand ? "expandable-checkbox-list_show": ""))
    h3.expandable-checkbox-list__caption.js-ecl__caption #{data.caption}
    ul.expandable-checkbox-list__list
      for cb in data.checkboxes
        li.expandable-checkbox-list__item
          +checkbox(cb)