.expandable-checkbox-list {
  font-family: $toxin-font-montserrat;

  &__caption {
    cursor: pointer;
    position: relative;
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: inherit;
  }
  &__list {
    list-style: none;
    display: none;
  }
  &__item:not(:last-child) {
    margin-bottom: 12px;
  }

  &_show .expandable-checkbox-list__list {
    display: block;
    padding-top: 12px;
  }

  &__caption:after {
    content: "keyboard_arrow_down";
    font-family: $toxin-font-material-icon;
    font-size: 24px;
    font-weight: normal;
    text-transform: none;
    position: absolute;
    color: $toxin-color-black-50;
    right: 11px;
    text-align: center;
  }

  &_show .expandable-checkbox-list__caption:after {
    content: "keyboard_arrow_up";
  }
}
