include ../checkbox/checkbox

mixin expandable-checkbox-list({isExpand, caption, checkboxes})
  .expandable-checkbox-list(class=(isExpand ? "expandable-checkbox-list_show": ""))
    h3.expandable-checkbox-list__caption.js-ecl__caption #{caption}
    ul.expandable-checkbox-list__list
      for checkbox in checkboxes
        li.expandable-checkbox-list__item
          +checkbox(checkbox)