include ../checkbox/checkbox

mixin expandable-checkbox-list({isExpand, caption="Caption", checkboxes=[{text: "Error: items is not defined"}]}={})
  .expandable-checkbox-list
    .expandable-checkbox-list__caption.js-expandable-checkbox-list__caption(class = (isExpand && "expandable-checkbox-list__caption_shown")) #{caption}
    ul.expandable-checkbox-list__list(class = (isExpand && "expandable-checkbox-list__list_shown"))
      for checkbox in checkboxes
        li.expandable-checkbox-list__item
          +checkbox(checkbox)