.ecl {
  display: inline-block;  
}
.ecl__caption {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;      
}
.ecl__list {  
  list-style: none;
  display: none;    
}
.ecl__item:not(:last-child) {
  margin-bottom: 10px;
}

.ecl_show .ecl__list  {
  display: block;      
  padding-top: 12px;

}

.ecl__caption:after {
  content: 'keyboard_arrow_down';
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  padding-left: 40px;
  vertical-align: middle;
  text-transform: none;
}

.ecl_show .ecl__caption:after {    
  content: 'keyboard_arrow_up';
  //transform: rotate(180deg);
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  
  vertical-align: middle;
}

