.text-input {
  width: 100%;

  &__caption {
    margin-bottom: 5px;
    display: inline-block;
  }

  &__input {
    color: $toxin-color-black-75;
    border: 1px solid $toxin-color-black-25;
    border-radius: 4px;
    background: white;
    padding: 13px 15px;
    height: 44px;
    outline: none;
    width: 100%;
    font-size: 14px;
  }

  &__input::placeholder {
    color: $toxin-color-black-25;
  }
  &__input:hover,
  &__input:focus,
  &_isFocused .text-input__input {
    border: 1px solid $toxin-color-black-50;
  }
}
