mixin text-input({isFocused, caption, type = "text", placeholder, value}={})  
  label.text-input    
    if caption
      .text-input__caption #{caption}
    input.text-input__input(class = isFocused && "text-input_focused" type = type placeholder = placeholder value = value)