mixin text-input({isFocused, caption, type, placeholder, value} = data)  
  .text-input(class=(isFocused ? "text-input_isFocused":""))    
    if caption
      label.text-input__caption #{caption}
    input.text-input__input(type=type ? type : "text" placeholder=placeholder value=value)