.text-input {
  width: 100%;
}

.text-input__caption {  
  margin-bottom: 5px;
  display: inline-block;
}

.text-input__input {
  color: $toxinDS75;
  border: 1px solid $toxinDS25;
  border-radius: 4px;
  background: white;
  padding: 13px 15px;
  height: 44px;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.text-input__input::placeholder {
  color: $toxinDS25;  
}
.text-input__input:hover,
.text-input__input:focus,
.text-input_isFocused .text-input__input {
  border: 1px solid $toxinDS50;
}
