mixin text-input(data)  
  .text-input(class=(data.isFocused ? "text-input_isFocused":""))    
    if data.caption
      label.text-input__caption #{data.caption}
    input.text-input__input(type=data.type ? data.type : "text" placeholder=data.placeholder value=data.value)