.text-input {
  width: 100%;
  font-family: $toxin-font-montserrat;

  &__caption {
    margin-bottom: 5px;
    display: inline-block;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }

  &__input {
    color: $toxin-color-black-75;
    border: 1px solid $toxin-color-black-25;
    border-radius: 4px;
    background: white;
    padding: 12px 15px;
    outline: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
  }

  &__input::placeholder {
    color: $toxin-color-black-25;
  }
  &__input:hover,
  &__input:focus,
  &_isFocused {
    border: 1px solid $toxin-color-black-50;
  }
}
