.comfort-status {
  border-bottom: 1px solid $toxinDS10;
  padding-bottom: 20px;
  width: 280px;
  display: flex;
}

.comfort-status.comfort-status_hide-line {
  border-bottom: none;
}

.comfort-status__image {
  //float: left;
 
}

.comfort-status__caption {
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 6px;
  //padding-top: 3px;
  letter-spacing: 0.5px;
}

.comfort-status__text {
  font-size: 14px;
}

.comfort-status__image-wrapper {  
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;    
  margin-right: 10px;
}

.comfort-status__desc {
  padding-top: 3px;  
}