mixin comfort-status({isHideLine, icon, caption="Caption", text="Text"}={})
  figure.comfort-status(class = isHideLine ? "comfort-status_line_hide" : "")    
    .comfort-status__icon.material-icons #{icon}
    figcaption.comfort-status__description
      .comfort-status__caption #{caption}
      p.comfort-status__text #{text}