.comfort-status {
  border-bottom: 1px solid $toxinDS10;
  padding-bottom: 20px;  
  display: flex;
}

.comfort-status.comfort-status_hide-line {
  border-bottom: none;
}

.comfort-status__desc {
  padding-top: 3px;
  color: $toxinDS75;
}

.comfort-status__caption {
  margin-bottom: 6px;
  font-weight: bold;
}

.comfort-status__text {
  font-size: 14px;  
}

.comfort-status__icon {  
  font-size: 48px;    
  margin-right: 10px;
  color: $toxinPurple;
}
