mixin comfort-status(data)
  figure.comfort-status(class=(data.isHideLine) ? 'comfort-status_hide-line' : '')
    .comfort-status__image-wrapper
      img.comfort-status__image(src=data.src)
    figcaption.comfort-status__desc
      .comfort-status__caption #{data.caption}
      p.comfort-status__text #{data.text}