mixin comfort-status({isHideLine, icon, caption, text})
  figure.comfort-status(class=isHideLine && "comfort-status_hide-line")    
    .comfort-status__icon.material-icons #{icon}
    figcaption.comfort-status__description
      .comfort-status__caption #{caption}
      p.comfort-status__text #{text}