mixin comfort-status(data)
  figure.comfort-status(class=(data.isHideLine) ? "comfort-status_hide-line" : "")    
    .comfort-status__icon.material-icons #{data.icon}
    figcaption.comfort-status__desc
      .comfort-status__caption #{data.caption}
      p.comfort-status__text #{data.text}