mixin color-example({color, desc, hex})
  .color-example
    .color-example__squareColor(class=color)
    .color-example__textDesc 
      p.color-example__title #{desc}      
      p.color-example__text #{hex}
