mixin color-example(data)
  .color-example
    .color-example__squareColor(class=data.color)
    .color-example__textDesc 
      p.color-example__title #{data.desc}      
      p.color-example__text #{data.hex}
