.color-example {
  display: flex;

  &__square {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
  }

  &__square_ {
    &dark-shade_100percent {
      background: $toxin-color-black-100;
    }
    &dark-shade_75percent {
      background: $toxin-color-black-75;
    }
    &dark-shade_50percent {
      background: $toxin-color-black-50;
    }
    &dark-shade_25percent {
      background: $toxin-color-black-25;
    }
    &dark-shade_5percent {
      background: $toxin-color-black-5;
    }
    &Purple {
      background: $toxin-color-purple;
    }
    &Green {
      background: $toxin-color-green;
    }
  }

  &__textDesc {
    vertical-align: middle;
    color: $toxin-color-black-100;
    font-family: $toxin-font-quicksand;
    font-size: 19px;
    line-height: 29px;
    padding: 6px 0;
  }

  &__title {
    font-weight: bold;
  }

  &__title,
  &__text {
    font-family: $toxin-font-quicksand;
  }
}
