.color-example {
  display: flex;

  &__squareColor {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
  }

  &__squareColor_ {
    &DS100 {
      background: $toxin-color-black-100;
    }
    &DS75 {
      background: $toxin-color-black-75;
    }
    &DS50 {
      background: $toxin-color-black-50;
    }
    &DS25 {
      background: $toxin-color-black-25;
    }
    &DS5 {
      background: $toxin-color-black-5;
    }
    &Purple {
      background: $toxin-color-purple;
    }
    &Green {
      background: $toxin-color-green;
    }
  }

  &__textDesc {
    vertical-align: middle;
    color: $toxin-color-black-100;
    font-family: $toxin-font-quicksand;
    font-size: 19px;
    line-height: 29px;
    margin: 6px 0px;
  }

  &__title {
    font-weight: bold;
  }

  &__title,
  &__text {
    font-family: $toxin-font-quicksand;
  }
}
