mixin color-example({color, description, hex})
  .color-example
    .color-example__square(class = color)
    .color-example__textDesc 
      p.color-example__title #{description}      
      p.color-example__text #{hex}
