.range-slider {
  font-family: $toxin-font-montserrat;
  font-size: 12px;

  &__caption {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
  }
  &__caption-text {
    color: $toxin-color-black-100;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    font-style: inherit;
  }
  &__values {
    color: $toxin-color-black-50;
  }

  &__desc {
    padding-top: 9px;
    font-size: 12px;
    color: $toxin-color-black-50;
  }
}
// Modify ion.rangeSlider.css
.irs--round {
  height: 14px;
  .irs-handle {
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 50%;
    top: 0px;
    box-shadow: none;
    cursor: pointer;
  }
  .irs-line {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid $toxin-color-black-25;
    height: 6px;
    top: 5px;
  }
  .irs-bar {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    top: 6px;
  }
}
