mixin range-slider({caption, min, max, from, to, description})
  .range-slider
    .range-slider__caption
      h3.range-slider__caption-text #{caption}
      p.range-slider__values.js-range-slider__values
    input.range-slider__input.js-range-slider__input(data-min = min data-max = max data-from = from data-to = to)
    if description
      .range-slide__description #{description}