mixin button-bordered({isDisabled, type="button", isHeader, text, dynamicWidth})  
  button.button-bordered(
    type = type 
    class = (isHeader ? "button-bordered_header" : "") + " " + 
            (dynamicWidth ? "button-bordered_dynamic-width" : "") + " " + 
            (isDisabled ? "button-bordered_disabled" : "")
  ) #{text}