mixin button-bordered({isEnabled=true, type="button", dynamic_height, dynamic_width, text})  
  button.button-bordered(type=type 
    class=(dynamic_height && "button-bordered_dynamic-height") +" "+
      (dynamic_width && "button-bordered_dynamic-width")+" "+
      (isEnabled || "button-bordered_disabled")) #{text}