.button-bordered {
  border: none;
  font-family: $toxin-font-montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #bc9cff;
  padding: 15px 20px;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  background: transparent;
  border-radius: 22px;
  z-index: 1;

  &:before,
  &:after {
    content: " ";
    position: absolute;
    border-radius: 22px;
  }

  &:before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    background: #bc9cff;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  }

  &:after {
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background-color: white;
    z-index: -1;
  }

  &_disabled:before,
  &:hover:before,
  &:focus:before {
    background: linear-gradient(180deg, #bc9cff7f 0%, #8ba4f97f 100%);
  }

  &_dynamic-width {
    width: 100%;
    min-width: 78px;
    padding-left: 0;
    padding-right: 0;
  }

  &_header {
    padding: 9px 20px 10px 20px;
  }
}
