mixin masked-input({caption, type, placeholder = "ДД.ММ.ГГГГ", value})
  label.masked-input    
    if caption
      h2.masked-input__caption #{caption}
    input.masked-input__input.js-masked-input__input(type = type placeholder = placeholder value = value)