.masked-input {
  font-family: $toxin-font-montserrat;

  &__caption {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__input {
    border: 1px solid $toxin-color-black-25;
    border-radius: 4px;
    background: white;
    padding: 13px 15px 13px;
    width: 100%;
    outline: none;
    font-family: inherit;
  }

  &__input::placeholder {
    font-size: 14px;
    color: $toxin-color-black-25;
  }

  &__input:hover,
  &__input:focus {
    border: 1px solid $toxin-color-black-50;
  }
}
