@import "../../common.scss";

@import "../../fonts/fa5-brands-regular-400/fonts.css";
@import "../../fonts/material-icons/material-icons.css";
@import "../../fonts/Montserrat/fonts.css";
@import "../../fonts/Open-Sans/fonts.css";

$header-media1: 888px;
$header-media2: 715px;
$header-media3: 488px;
@import "../../components/header/header.scss";
@import "../../components/footer/footer.scss";
@import "../../components/sign-up-form/sign-up-form.scss";

.main-content {
  width: 100%;
  min-height: 701px;
  background: url("../../images/backgrounds/sign.jpg") no-repeat;
  padding-top: 20px;
}

.main-content__sign-up-form {
  margin: 0 auto;
  max-width: 380px;
}

.menu > .menu__list > .menu__item.menu__item:not(:last-of-type) {
  margin-right: 20px;
}

.header__wrapper-menu {
  margin-right: 20px;
}
