
extends ../../template

include ../../components/pages/sign-up/sign-up

block variables
  - let lang = "en"
  - let title = "Регистрация аккаунта"
  - let description = "Sign-up page"
  - let keywords = "sign-up, login, password"
  - let path = "../../"
  - let css = "sign-up.css"

block content
  +sign-up({
    headerData: header_data,
    signupForm: {
      caption: "Регистрация аккаунта", 
      isThereAccount: "Уже есть аккаунт на Toxin"
    },
    footerData: footer_data
  })

block script
  script(type="text/javascript" src="sign-up.js")