
extends ../../template

include ../../components/pages/sign-up/sign-up

block variables
  - let lang = "en"
  - let title = "Регистрация аккаунта"
  - let description = "Sign-up page"
  - let keywords = "sign-up, login, password"
  - let path = "../../"
  - let css = "sign-up.css"

block content
  +sign-up({
    headerData: header_data,
    signupForm: {
      caption: "Регистрация аккаунта", 
      isThereAccount: "Уже есть аккаунт на Toxin",
      textInputName: {placeholder: "Имя", isRequired: true},
      textInputSurname: {placeholder: "Фамилия", isRequired: true},
      radiosListSex: {
        name: "sex", 
        radios: [
          {text: "Мужчина", isChecked:true},
          {text: "Женщина"}
        ]
      },
      maskedInputBirthday: {caption: "Дата рождения"},                
      textInputEmail: {placeholder: "Email", type: "email", caption: "Данные для входа в сервис"},
      textInputPassword: {placeholder: "Пароль", type: "password"},
      toggleSpecialOffer: {text: "Получать спецпредложения"},
      buttonSubmit: {text: "Перейти к оплате", type: "submit"},
      buttonSignin: {text: "Войти", dynamicWidth: true, dynamic_width: true}
    },
    footerData: footer_data
  })

block script
  script(type="text/javascript" src="sign-up.js")