
include ../../common
include ../../components/header/header
include ../../components/footer/footer
include ../../components/sign-up-form/sign-up-form

doctype html
html(lang="en")
  head
    +meta-tags({description:'Sign-up page', keywords:'sign-up, login, password'})    
    title Регистрация аккаунта
    +favicon({path:'../../'})    
    link(href="sign-up.css" rel="stylesheet")
  body            
    +header(header_data)     
    main.main-content
      section.main-content__sign-up-form
        +sign-up-form
    +footer(footer_data)
    script(type="text/javascript" src="sign-up.js")