* {
  @include reset;
}

html {
  @include define-html;
}

body {
  @include define-body;
}

.main-content {
  width: 100%;
  min-height: 701px;
  background: url("../../images/backgrounds/sign.jpg") no-repeat;
  padding-top: 20px;
}

.main-content__sign-up-form {
  margin: 0 auto;
  max-width: 380px;
}

.header .header-menu > .header-menu__list > .header-menu__item.header-menu__item:not(:last-of-type) {
  margin-right: 20px;
}

.header .header__header-menu {
  margin-right: 20px;
}
