extends ../../template

include ../../components/pages/index/index

block variables
  - let lang = "en"
  - let title = "Все страницы проекта"
  - let description = "Index page"
  - let keywords = "hotel, booking"
  - let css = "index.css"

block content
  +index({                        
      mainTitle:"Watch result on github.io",
      items:[
        {
          title: "UI Kit",
          path: "pages/ui-kit/",
          hyperlinks: [
            {link:"colors-type/colors-type", text:"Colors & Type"},
            {link:"form-elements/form-elements", text:"Form Elements"},
            {link:"cards/cards", text:"Cards"},
            {link:"headers-footers/headers-footers", text:"Headers & Footers"}
            ]
        },
        {
          title: "Website pages",
          path: "pages/",
          hyperlinks: [
            {link:"landing/landing", text:"Landing page"},
            {link:"search-room/search-room", text:"Search room/Filter"},
            {link:"room-details/room-details", text:"Room details"},
            {link:"sign-up/sign-up", text:"Registration"},
            {link:"sign-in/sign-in", text:"Sign in"}
          ]
        }
      ]
    })