include ../../common

doctype html
html(lang="en")
  head    
    +meta-tags({description:"Index page", keywords:"hotel, booking"})    
    title Index page
    +favicon       
    link(href="index.css" rel="stylesheet")
  body
    .pages
      h1.pages__title Watch result on github.io
      h3.pages__uikit UI Kit
      ul.pages__list
        li.pages__list-item: a(href="pages/ui-kit/colors-type/colors-type.html") Colors & Type
        li.pages__list-item: a(href="pages/ui-kit/form-elements/form-elements.html") Form Elements
        li.pages__list-item: a(href="pages/ui-kit/cards/cards.html") Cards
        li.pages__list-item: a(href="pages/ui-kit/headers-footers/headers-footers.html") Headers & Footers
      h2.pages__website-pages Website pages
      ul.pages__list
        li.pages__list-item: a(href="pages/landing-page/landing-page.html") Landing page
        li.pages__list-item: a(href="pages/search-room/search-room.html") Search room/Filter
        li.pages__list-item: a(href="pages/room-details/room-details.html") Room details
        li.pages__list-item: a(href="pages/sign-up/sign-up.html") Registration
        li.pages__list-item: a(href="pages/sign-in/sign-in.html") Sign in
