include ../../common
include ../../components/header/header
include ../../components/footer/footer
include ../../components/room-reservation-form/room-reservation-form
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Бронирование номера
    +favicon       
    link(href="index.css" rel="stylesheet") 
  body        
    +header({login:'Войти', reg:'Зарегистрироваться', isAuth:false, 
                             menu: [{text:'О нас', link:'#'},
                                    {text:'Услуги', link: '#', 
                                      sm:[
                                        {text:'Пунтк21', link: '#'},
                                        {text:'Пунтк22', link: '#'},
                                        {text:'Пунтк23', link: '#'},
                                        {text:'Пунтк24', link: '#'},
                                        {text:'Пунтк25', link: '#'},
                                      ]},
                                    {text:'Вакансии', link: '#'},
                                    {text:'Новости', link: '#'},
                                    {text:'Соглашения', link: '#',
                                      sm:[
                                        {text:'Пунтк51', link: '#'},
                                        {text:'Пунтк52', link: '#'},
                                        {text:'Пунтк53', link: '#'},
                                      ]},                                    
                                    ]})
    main.main-content
      section.main-content__form
        +room-reservation-form
      p.main-content__text Лучшие номера для вашей работы, отдыха и просто вдохновения
    +footer({menu:[
        {title:'Навигация',items:[{text:'О нас', link:'about.html'},
                                     {text:'Новости', link:'news.html'},
                                     {text:'Служба поддержки', link:'support.html'},
                                     {text:'Услуги', link:'products.html'}]},
        {title:'О нас',  items:[{text:'О сервисе', link:'who.html'},
                                     {text:'Наша команда', link:'team.html'},
                                     {text:'Вакансии', link:'careers.html'},
                                     {text:'Инвесторы', link:'investors.html'}]},
        {title:'Служба поддержки',   items:[{text:'Соглашения', link:'doc.html'},
                                     {text:'Сообщества', link:'com.html'},
                                     {text:'Связь с нами', link:'git.html'}]}
        ], desc:'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
           sub:{caption:'Подписка', desc:'Получайте специальные предложения и новости сервиса', placeholder:'Email'},
           copyright: 'Copyright © 2018 Toxin отель. Все права зачищены.'
        })    
    script(type="text/javascript" src="index.js")