@import "../../common.scss";

@import "../../fonts/fa5-brands-regular-400/fonts.css";
@import "../../fonts/material-icons/material-icons.css";
@import "../../fonts/Montserrat/fonts.css";
@import "../../fonts/Open-Sans/fonts.css";

$header-media1: 888px;
$header-media2: 715px;
$header-media3: 488px;
@import "../../components/header/header.scss";
@import "../../components/footer/footer.scss";
@import "../../../node_modules/air-datepicker/dist/css/datepicker.css";
@import "../../components/room-reservation-form/room-reservation-form.scss";

* {
  @include reset;
}

html {
  @include define-html;
}

body {
  @include define-body;
}

.main-content {
  width: 100%;
  min-height: 830px;
  position: relative;
  padding-top: 70px;
  background: url("../../images/backgrounds/index.jpg") no-repeat;
}

.main-content__form {
  margin-left: 9.375%;
  padding: 0 5px;
}

.main-content__text {
  color: $toxin-color-black-75;
  max-width: 297px;
  position: absolute;
  right: 9.236111111111111%;
  bottom: 21px;
  line-height: 24px;
  text-align: right;
}

.menu > .menu__list > .menu__item.menu__item:not(:last-of-type) {
  margin-right: 20px;
}

.header__header-menu {
  margin-right: 20px;
}

// Additional media queries for header-----------------------------------------
@media (max-width: 365px) {
  .header__logo {
    display: none;
  }
}
// Media queries for main content-----------------------------------
@media (max-width: 815px) {
  .main-content {
    min-height: 740px;
  }
  .main-content__form {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .main-content__text {
    margin: 10px auto;
    text-align: center;
    position: static;
    color: #fff;
  }
}
