extends ../../template

include ../../components/pages/index/index

block variables
  - let lang = "en"
  - let title = "Все страницы проекта"
  - let description = "Index page"
  - let keywords = "hotel, booking"  

block content
  +index({                        
    mainTitle: "Watch result on github.io",
    items: [
      {
        title: "UI Kit",
        path: "pages/ui-kit/",
        hyperlinks: [
          { 
            link: "colors-type", 
            text: "Colors & Type"
          },
          {
            link: "form-elements", 
            text: "Form Elements"
          },
          {
            link: "cards", 
            text: "Cards"
          },
          {
            link: "headers-footers", 
            text: "Headers & Footers"
          }
        ]
      },
      {
        title: "Website pages",
        path: "pages/",
        hyperlinks: [
          {
            link: "landing", 
            text: "Landing page"
          },
          {
            link: "search-room", 
            text: "Search room/Filter"
            },
          {
            link: "room-details", 
            text: "Room details"
          },
          {
            link: "sign-up", 
            text: "Registration"
          },
          {
            link: "sign-in", 
            text: "Sign in"
          }
        ]
      }
    ]
})