@import "../text-input/text-input.scss";
@import "../masked-input/masked-input.scss";
@import "../radios-list/radios-list.scss";
@import "../toggle/toggle.scss";
@import "../button/button.scss";

.su-form {
  padding: 40px 5px 30px;
  max-width: 380px;
  display: flex;
  justify-content: center;
}
.su-form__main-content {
  max-width: 320px;
}

.su-form__caption {
  margin-bottom: 20px;
}

.su-form__list {
  list-style: none;
  margin-bottom: 24px;
}
.su-form__wrapper {
  margin-bottom: 20px;
}

.su-form__item {
  margin-bottom: 10px;
}

.su-form__wrapper-for-sign-up-button {
  margin-bottom: 30px;
}

.su-form__wrapper-for-sign-in-button {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  //outline: 1px solid black;
}

.su-form__sign-in-text {
  color: #000;   
}

.su-form_wrapper-sign-in-button {
  width: 99px;
  height: 44px;  
}

@media (max-width: 365px) {
  .header__wrapper-logo {
    display: none;
  }
}
