include ../text-input/text-input
include ../masked-input/masked-input
include ../radios-list/radios-list
include ../toggle/toggle
include ../button/button

mixin sign-up-form(data)
  form(method='post' action='#').sign-up-form
    fieldset.sign-up-form__main-content
      legend.sign-up-form__caption Регистрация аккаунта            
      ul.sign-up-form__list
        li.sign-up-form__item
          +text-input({placeholder:'Имя', isRequired:true})        
        li.sign-up-form__item
          +text-input({placeholder:'Фамилия', isRequired:true})        
        li.sign-up-form__item
          +radios-list({name:'sex', radios:[{id:'men',text:'Мужчина', isChecked:true},
            {id:'women',text:'Женщина'}
            ]})
      ul.sign-up-form__list.sign-up-form__wrapper
        li
          +masked-input({caption:'Дата рождения'})                            
      ul.sign-up-form__list
        li.sign-up-form__item
          +text-input({placeholder:'Email', type:'email', caption:'Данные для входа в сервис'})
        li.sign-up-form__item
          +text-input({placeholder:'Пароль', type:'password'})        
        li.sign-up-form__item
          +toggle({text:'Получать спецпредложения', id:suf-toggle})        
      .sign-up-form__wrapper-for-sign-up-button
        +button-arrow({text:'Перейти к оплате', type:'submit'})        
      .sign-up-form__wrapper-for-sign-in-button
        p.sign-up-form__sign-in-text Уже есть аккаунт на Toxin
        .sign-up-form_wrapper-sign-in-button
          +button-bordered({text:'Войти', dynamic_height:true, dynamic_width: true})