include ../text-input/text-input
include ../masked-input/masked-input
include ../radios-list/radios-list
include ../toggle/toggle
include ../button/button

mixin sign-up-form(data)
  form(method='post' action='#').su-form
    fieldset
      legend.su-form__caption Регистрация аккаунта            
      ul.su-form__list
        li.su-form__item
          +text-input({placeholder:'Имя', isRequired:true})        
        li.su-form__item
          +text-input({placeholder:'Фамилия', isRequired:true})        
        li.su-form__item
          +radios-list({name:'sex', radios:[{id:'men',text:'Мужчина', isChecked:true},
                                                                            {id:'women',text:'Женщина'}
                                                                            ]})
      ul.su-form__list
        li.su-form__item
          +masked-input({caption:'Дата рождения'})                            
      ul.su-form__list
        li.su-form__item
          +text-input({placeholder:'Email', type:'email', caption:'Данные для входа в сервис'})
        li.su-form__item
          +text-input({placeholder:'Пароль', type:'password'})        
        li.su-form__item
          +toggle({text:'Получать спецпредложения'})        
      .su-form__wrapper-for-sign-up-button
        +button-arrow({text:'Перейти к оплате', type:'submit'})        
      .su-form__wrapper-for-sign-in-button
        p.su-form__sign-in-text Уже есть аккаунт на Toxin
        .su-form_wrapper99px
          +button-bordered({text:'Войти'})