.sign-up-form {
  padding: 40px 5px 30px;
  max-width: 380px;
  display: flex;
  justify-content: center;
  background: white;
  padding: 40px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__main-content {
    max-width: 320px;
    border: 0 none;
  }

  &__caption {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
    font-family: $toxin-font-open-sans;
    font-weight: bold;
    color: $toxin-color-black-100;
  }

  &__list {
    list-style: none;
    margin-bottom: 24px;
  }
  &__wrapper {
    margin-bottom: 20px;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__wrapper-for-sign-up-button {
    margin-bottom: 30px;
  }

  &__wrapper-for-sign-in-button {    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__sign-in-text {
    color: #000;
  }

  &_wrapper-sign-in-button {
    min-width: 99px;
  }
}
