include ../text-input/text-input
include ../masked-input/masked-input
include ../radios-list/radios-list
include ../toggle/toggle
include ../button-arrow/button-arrow
include ../button-bordered/button-bordered

mixin sign-up-form({caption, isThereAccount, textInputName, textInputSurname, radiosListSex, maskedInputBirthday, textInputEmail, textInputPassword, toggleSpecialOffer, buttonSubmit, buttonSignin})
  form(method="post" action="#").sign-up-form
    fieldset.sign-up-form__main-content
      legend.sign-up-form__caption #{caption}
      ul.sign-up-form__list
        li.sign-up-form__item
          +text-input(textInputName)        
        li.sign-up-form__item
          +text-input(textInputSurname)        
        li.sign-up-form__item
          +radios-list(radiosListSex)
      ul.sign-up-form__list.sign-up-form__wrapper
        li
          +masked-input(maskedInputBirthday)                            
      ul.sign-up-form__list
        li.sign-up-form__item
          +text-input(textInputEmail)
        li.sign-up-form__item
          +text-input(textInputPassword)        
        li.sign-up-form__item
          +toggle(toggleSpecialOffer)        
      .sign-up-form__wrapper-for-sign-up-button
        +button-arrow(buttonSubmit)        
      .sign-up-form__wrapper-for-sign-in-button
        p.sign-up-form__sign-in-text #{isThereAccount}
        .sign-up-form_wrapper-sign-in-button
          +button-bordered(buttonSignin)