.su-form {
  padding: 40px 30px 30px;
  width: 380px;
}

.su-form__caption {
  margin-bottom: 17px;
}

.su-form__list {
  list-style: none;
  margin-bottom: 23px;
}

.su-form__item {
  margin-bottom: 10px;
}

.su-form__wrapper-for-sign-up-button {
  margin-bottom: 30px;
}

.su-form__wrapper-for-sign-in-button {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.su-form__sign-in-text {
  color:#000;
  width: 186px;
  margin-right: 35px;
}

.su-form_wrapper99px {
  width: 99px;
  height: 100%;
}