include ../text-input/text-input
include ../masked-input/masked-input
include ../radios-list/radios-list
include ../toggle/toggle
include ../button/button

mixin sign-up-form({caption="Caption", isThereAccount, textInputName, textInputSurname, radiosListSex, maskedInputBirthday, textInputEmail, textInputPassword, toggleSpecialOffer, buttonSubmit, buttonSignin}={})
  form(method = "post" action = "#").sign-up-form
    fieldset.sign-up-form__main-content
      h2.sign-up-form__caption #{caption}
      ul.sign-up-form__list
        li.sign-up-form__item
          +text-input(textInputName)        
        li.sign-up-form__item
          +text-input(textInputSurname)        
        li.sign-up-form__item
          +radios-list(radiosListSex)
      ul.sign-up-form__list.sign-up-form__wrapper
        li.sign-up-form__masked-input
          +masked-input(maskedInputBirthday)                            
      ul.sign-up-form__list
        li.sign-up-form__item
          +text-input(textInputEmail)
        li.sign-up-form__item
          +text-input(textInputPassword)        
        li.sign-up-form__item
          +toggle(toggleSpecialOffer)        
      .sign-up-form__button-pay
        +button({styleType:"arrowed", type: "submit", text: buttonSubmit.text})        
      .sign-up-form__wrapper
        p.sign-up-form__sign-in-text #{isThereAccount}
        .sign-up-form__button
          +button({styleType: "unfilled", dynamicWidth: true, text: buttonSignin.text, link: buttonSignin.link})