include ../../../components/header/header
include ../../../components/button/button
include ../../../components/footer/footer
include ../../../common
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Headers & Footers
    +favicon    
    link(href="hf.css" rel="stylesheet")
  body
    - var menu = [
    -    {text:"Home", link:"#", isBold:true},
    -    {text:"About Us", link:"#"},
    -    {text:"Services", link:"#", sm:[
    -        {text:"Одежда",link:"#", sm:[
    -            {text:"Обувь", link:"o.html"},
    -            {text:"Куртки",link:"ku.html"},
    -            {text:"Брюки",link:"#", sm:[
    -                {text:"Test1",link:"test.html"},
    -                {text:"Test2",link:"test2.html"},
    -                {text:"Test3",link:"test3.html"}
    -            ]}
    -        ]},
    -        {text:"Электроника",link:"#", sm:[
    -            {text:"Смартфоны", link:"sm.html"},
    -            {text:"Планшеты", link:"sm.html"},
    -        ]},
    -        {text:"Прод.пит.",link:"pp.html"}
    -    ]},    
    -    {text:"Careers",link:"#"},
    -    {text:"News", link:"#"},
    -    {text:"Documentation", link:"#"}
    - ]
    - var menufooter= [
    -   {title:'NAVIGATION',items:[{text:'About Us', link:'about.html'},
    -                                {text:'News', link:'news.html'},
    -                                {text:'Support', link:'support.html'},
    -                                {text:'Products', link:'products.html'}]},
    -   {title:'ABOUT US',  items:[{text:'Who we are', link:'who.html'},
    -                                {text:'Our team', link:'team.html'},
    -                                {text:'Careers', link:'careers.html'},
    -                                {text:'Investors', link:'investors.html'}]},
    -   {title:'SUPPORT',   items:[{text:'Documentation', link:'doc.html'},
    -                                {text:'Community', link:'com.html'},
    -                                {text:'Get In Touch', link:'git.html'}]}
    -   ]
    - var desc='Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.'
    - var caption='SUBSCRIBE TO OUR NEWSLETTER';
    - var subdesc='Receive our latest news and promotions in your inbox!'
    - var ph='Your email address'
    - var cr='Copyright © 2018 Toxin UI Kit. All rights reserved.'
    +header({logo_path:"../../../components/logo/logo.svg", isAuth:false, menu: menu})
    +header({logo_path:"../../../components/logo/logo.svg", isAuth:true, menu: menu})
    +footer({logo_path:"../../../components/logo/logo.svg", menu:menufooter, desc:desc, sub:{caption:caption, desc:subdesc, placeholder:ph},copyright: cr})
    +footer({logo_path:"../../../components/logo/logo.svg", menu:menufooter, desc:desc, sub:{caption:caption, desc:subdesc, placeholder:ph},copyright: cr})
    script(type="text/javascript" src="hf.js")