@import "../../../common.scss";

@import "../../../fonts/Montserrat/fonts.css";
@import "../../../fonts/MaterialIcons/material-icons.css";
@import "../../../fonts/FA5_Brands-Regular-400/fonts.css";

@import "../../../components/header-menu/header-menu.scss";
@import "../../../components/button/button.scss";
@import "../../../components/header/header.scss";

@import "../../../components/footer-menu/footer-menu.scss";
@import "../../../components/footer/footer.scss";

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat";
}

body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  max-width: 1440px;
  background: #e5e5e5;
}

.header {
  background: white;    
}


.header:nth-child(1) {
  margin-top: 150px;
  margin-bottom: 40px;
}

.header:nth-child(2) {
  margin-bottom: 40px;
}

// .menu {
//   margin-right: 30px;    
// }

body > footer {
  margin-bottom: 40px;
}
.footer + .footer {
  margin-bottom: 130px;
}



// //--media for header-------------------------------------
// @media screen and (max-width: 560) { 
//   .menu__list {
//     align-items: center;
//     flex-direction: column;
//   }  
// }

//----------------------------------------------------------------
