.donut-chart__caption {
  margin-bottom: 20px;
  text-transform: none;
}

.donut-chart__wrapper {
  display: flex;
  justify-content: space-between;
}

.donut-chart__canvas {
  margin-right: 10px;
  height: 120px;
}

.donut-chart__wrapper-legend-list {
  margin-top: 26px;
}
