.donut-chart {
  &__caption {
    margin-bottom: 20px;
    text-transform: none;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__canvas {
    margin-right: 10px;
    height: 120px;
  }

  &__legend-list {
    margin-top: 26px;
  }
}
