include ../legend-list/legend-list

mixin donut-chart(data)
  figure.donut-chart
    h2.donut-chart__caption Впечатления от номера
    .donut-chart__wrapper
      canvas(id="donut-chart" data-voices="260").donut-chart__canvas
      .donut-chart__wrapper-legend-list
        +legend-list([{text:"Великолепно", color:"legend_orange-color"},
                      {text:"Хорошо", color:"legend_green-color"},
                      {text:"Удовлетворительно", color:"legend_purple-color"},
                      {text:"Разочарован", color:"legend_black-color"}
                     ])