.bullet {  
  font-family: Montserrat;  
  color: $toxinDS75;
  font-size: 14px;  
  line-height: 24px;
  padding-left: 20px;
  position: relative;
}

.bullet:before {
  content:'';
  display: block;
  width: 10px;
  height: 10px;
  background: $toxinDS25;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 7px;
}