.bullet {
  font-family: $toxin-font-montserrat;
  color: $toxin-color-black-75;
  line-height: 24px;
  padding-left: 20px;
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: $toxin-color-black-25;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 7px;
  }
}
