include ../button/button
include ../text-input/text-input
include ../datepicker-input/datepicker-input
include ../guests-input/guests-input

mixin room-reservation-form(data)
  form.rr-form(method='post' action='#')
    fieldset.rr-form__wrapper-for-inputs
      legend.rr-form__title Найдём номера под ваши пожелания
      ul.rr-form__list(role='none presentation')    
        li.rr-form__item
          fieldset.rr-form__wrapper-for-dates
            ul.rr-form__dates-list(role='none presentation')
              li.rr-form__dates-item
                +datepicker-input({caption:'Прибытие', placeholder:'ДД.ММ.ГГГГ',id:'rr-form__start-input'})
              li.rr-form__dates-item
                +datepicker-input({caption:'Выезд', placeholder:'ДД.ММ.ГГГГ', id:'rr-form__end-input', hasDatepicker:false})                  
        li.rr-form__item.rr-wrapper-guests-input
          +guests-input({caption:'Гости', 
                             iqdd:{isExpanded:false, placeholder:'', 
                             items:[{id:'adults', name:'ВЗРОСЛЫЕ'},
                                    {id:'childs', name:'ДЕТИ'},
                                    {id:'babies', name:'МЛАДЕНЦЫ'}] }})
      +button-arrow({text:'Подобрать номер', type: 'submit'})