include ../button-arrow/button-arrow
include ../text-input/text-input
include ../datepicker-input/datepicker-input
include ../guests-input/guests-input

mixin room-reservation-form({title, datepickerInputArrival, datepickerInputCheckout, guestsInput, buttonFindRoom})
  form.room-reservation-form(method = "get" action = "search-room.html")
    fieldset.room-reservation-form__wrapper-for-inputs
      h2.room-reservation-form__title #{title}
      ul.room-reservation-form__list(role = "none presentation")    
        li.room-reservation-form__item
          fieldset.room-reservation-form__wrapper-for-dates
            ul.room-reservation-form__dates-list(role = "none presentation")
              li.room-reservation-form__dates-item.room-reservation-form__arrival
                +datepicker-input(datepickerInputArrival)
              li.room-reservation-form__dates-item.room-reservation-form__checkout
                +datepicker-input(datepickerInputCheckout)                  
        li.room-reservation-form__item.room-reservation-form__guests-input
          +guests-input(guestsInput)
      +button-arrow(buttonFindRoom)