.button-simple {
  border: none;
  font-family: $toxin-font-montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  background: none;
  color: #bc9cff;
  cursor: pointer;
  text-transform: uppercase;

  &_disabled,
  &_gray-text {
    color: $toxin-color-black-50;
  }
  
  &_hide {
    display: none;
  }
}
