include ../round-image/round-image
include ../like-button/like-button

mixin message-control(data)
  .message-control
    .message-control__left-column
      .message-control__wrapper-for-round-image
        +round-image(data.image)      
      +like-button(data.like)   
    .message-control__right-column
      p.message-control__caption #{data.caption}
      p.message-control__time #{data.time}
      p.message-control__text #{data.text}