.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  padding: 0px 5px;  
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  background: #fff;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1160px;
    background: #fff;    
  }

  &__menu-and-auth-area {
    display: flex;
    z-index: 20;
  }

  &__wrapper-main {
    display: flex;
    align-items: center;
    flex-basis: 80.55555555555556%;
  }
  &__logo {
    margin-right: 15px;
    padding-top: 3px;
  }

  &__header-menu {
    margin-left: auto;
    margin-right: 20px;
    align-self: stretch;
    z-index: 100;
  }

  &__auth-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background: #fff;
  }

  &__auth-area_is-auth {
    justify-content: flex-end;
    flex-basis: auto;
  }

  &__button-bordered {
    margin-right: 20px;    
  }

  &__auth-name {
    display: none;
    font-family: $toxin-font-montserrat;
    color: $toxin-color-black-50;
    border-left: 1px solid $toxin-color-black-10;
    align-items: center;
    padding-left: 33px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;

    &:hover {
      color: $toxin-color-black-75;
    }
  }

  &__auth-name_show {
    display: flex;
  }

  &__button-filled_hide {
    display: none;
  }

  &__button-bordered_hide {
    display: none;
  }

  &__icon {
    display: none;
    cursor: pointer;
    font-family: 'material-icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
  }

  @media (max-width: 930px) {
    &__icon {
      display: block;
      position: absolute;
      right: 5px;
    }

    &__wrapper {
      width: 100%;
    }

    &__menu-and-auth-area {
      width: 100%;
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      left: 0px;
    }

    &__header-menu {
      margin: 0px;
    }

    &__auth-area {
      flex-direction: column;
      order: -1;
      padding: 0px 15px;
    }

    &__button-bordered {      
      margin: 0px 0px 5px;      
    }
    
    &__button-bordered,
    &__button-filled {
      width: 100%;      
    }

    &__menu-and-auth-area_show {
      display: flex;
    }
  }
}
