include ../logo/logo
include ../header-menu/header-menu
include ../button-filled/button-filled
include ../button-bordered/button-bordered

mixin header(data)
  header.header(class=data.isAuth && "header_auth-true")    
    .header__logo
      +logo({path:data.logo_path})
    .header__header-menu
      +header-menu(data.menu)
    .header__auth-area
      .header__button-bordered
        +button-bordered({text: data.login || "LOGIN"})      
      +button-filled({text: data.reg || "REGISTER"})
      .header__auth-name Cosmin Negoita