.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  padding: 0px 9.722222%;
  background: #fff;

  &__wrapper-main {
    display: flex;
    align-items: center;
    flex-basis: 80.55555555555556%;
  }
  &__logo {
    margin-right: 15px;
  }

  &__header-menu {
    margin-left: auto;
    margin-right: 2.586206896551724%;
    align-self: stretch;
    z-index: 100;
  }

  &__auth-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_auth-true .header__auth-area {
    justify-content: flex-end;
    flex-basis: auto;
  }

  &__button-bordered {
    height: 100%;
    margin-right: 20px;
  }

  &__button-filled {
    height: 34px;
  }

  &__auth-name {
    display: none;
    font-family: $toxin-font-montserrat;
    color: $toxin-color-black-50;
    border-left: 1px solid $toxin-color-black-10;
    align-items: center;
    padding-left: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }

  &_auth-true .header__auth-name {
    display: flex;
  }

  &_auth-true .header__button-bordered,
  &_auth-true .header__button-filled {
    display: none;
  }

  &_auth-true .header__button-bordered,
  &_auth-true .header__wrapper-auth-register {
    display: none;
  }
}

@media (max-width: 888px) {
  .header {
    padding: 0 5px;
  }
  .header .header__logo {
    margin-right: 5px;
  }
  .header .header__header-menu {
    margin-right: 5px;
  }
}

@media (max-width: 715px) {
  .header {
    justify-content: space-between;
    padding: 0;
    padding-right: 5px;
  }
  .header__header-menu {
    order: -1;
    margin-left: 0;
  }
  .header-menu__icon {
    display: block;
  }
  .header-menu > .header-menu__list {
    padding: 0 5px;
    flex-wrap: nowrap;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 100%;
    overflow: hidden;
    transform: translateX(-100%);
  }
  .header-menu__icon.header-menu_hide + .header-menu__list {
    transition: transform 400ms 0ms;
  }
  .header-menu__icon.header-menu_show + .header-menu__list .header-menu__list {
    position: static;
  }
}

@media (max-width: 488px) {
  .header__button-bordered {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .header__auth-area {
    flex-direction: column;
    margin: 5px 0;
  }
}
