include ../logo/logo
include ../header-menu/header-menu
include ../button-filled/button-filled
include ../button-bordered/button-bordered

mixin header({isAuth, logo_path, login="Login", menu, reg="Register"})
  header.header(class=isAuth && "header_auth-true")    
    .header__logo
      +logo({path:logo_path})
    .header__header-menu
      +header-menu(menu)
    .header__auth-area
      .header__button-bordered(class=isAuth && "header__button-bordered_hide")
        +button-bordered({text: login})      
      .header__button-filled(class=isAuth && "header__button-filled_hide")
        +button-filled({text: reg, dynamic_height:true})
      .header__auth-name(class=isAuth && "header__auth-name_show") Cosmin Negoita