.datepicker-inline .datepicker,
.datepicker {
  font-family: "Montserrat";
  font-size: 12px;
  width: 320px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  padding: 15px 15px 19px;
  color: $toxinDS50;
}

.datepicker--nav {
  min-height: 24px;
  border-bottom: none;
  margin-bottom: 26px;
}
.datepicker--nav-action {
  width: 24px;
  font-family: "Material Icons";
  font-size: 24px;
  color: $toxinPurple;
}
.datepicker--nav-title {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 19px;
  color: $toxinDS100;
}

.datepicker--day-name {
  color: $toxinPurple;
  font-weight: bold;
  text-transform: none;
  margin-bottom: 11px;
}

.datepicker--cell-day {
  height: 40px;
}

.datepicker--cell-day.-range-from-.-selected-:not(.-focus-) {
  position: relative;
  z-index: auto;
  color: transparent;
}
.datepicker--cell-day.-range-from-.-selected-:not(.-focus-):before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  height: 40px;
  background: $toxinPurple;
  background: linear-gradient(180deg, #bc9cff7f 0%, #8ba4f97f 100%);
}
.datepicker--cell-day.-range-from-.-selected-:not(.-focus-):after {
  content: attr(data-date);
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: $toxinPurple;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.datepicker--cell-day.-range-to-.-selected-:not(.-focus-) {
  position: relative;
  z-index: auto;
  color: transparent;
}
.datepicker--cell-day.-range-to-.-selected-:not(.-focus-):before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: $toxinPurple;
  background: linear-gradient(180deg, #bc9cff7f 0%, #8ba4f97f 100%);
}
.datepicker--cell-day.-range-to-.-selected-:not(.-focus-):after {
  content: attr(data-date);
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: $toxinPurple;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.datepicker--cell-day.-selected- {
  border-radius: 50%;
  background: $toxinPurple;
  background: linear-gradient(180deg, $toxinPurple 0%, #8ba4f9 100%);
}

.datepicker--cell-day.-in-range- {
  background: $toxinPurple;
  background: linear-gradient(180deg, #bc9cff7f 0%, #8ba4f97f 100%);
}
.datepicker--cell-day.-selected-.-focus- {
  background: $toxinBlue;
}

.datepicker--cell-day.-other-month-.-in-range-.-focus- {
  color: white;
}

.datepicker--cell-day.-other-month-.-in-range- {
  color: white;
  background: $toxinPurple;
  background: linear-gradient(180deg, #bc9cff7f 0%, #8ba4f97f 100%);
}

.datepicker--cell-day.-range-from-:not(.-selected-),
.datepicker--cell-day.-range-from-.-focus- {
  border: 1px solid $toxinPurple;
  background-color: rgba(139, 164, 249, 0.1);
  border-radius: 50% 0 0 50%;
}

.datepicker--cell-day.-range-to-:not(.-selected-),
.datepicker--cell-day.-range-to-.-focus- {
  border: 1px solid $toxinPurple;
  background-color: rgba(139, 164, 249, 0.1);
  border-radius: 0 50% 50% 0;
  color: $toxinDS50;
}

.datepicker--cell-day.-range-from-.-selected-.-focus-,
.datepicker--cell-day.-range-to-.-selected-.-focus- {
  color: $toxinDS75;
}

.datepicker--cell-day.-in-range-.-current-,
.datepicker--cell-day.-current- {
  color: white;
  background: $toxinGreen;
  border-radius: 50%;
}

.datepicker--cell-day.-in-range-.-current- {
  position: relative;
}

.datepicker--cell-day.-in-range-.-current-:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: $toxinPurple;
  background: linear-gradient(180deg, #bc9cff7f 0%, #8ba4f97f 100%);
}

.-selected-.datepicker--cell-day.-other-month- {
  background: $toxinPurple;
  background: linear-gradient(180deg, $toxinPurple 0%, #8ba4f9 100%);
}

.datepicker--cell-day.-focus- {
  border-radius: 50%;
}

.datepicker--cell-day.-disabled- {
  pointer-events: none;
}

.datepicker--pointer {
  display: none;
}

.datepicker.-from-bottom- {
  transform: translateY(-8px);
}

.datepicker--buttons {
  border-top: none;
  cursor: pointer;  
  height: auto;
  display: flex;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 17px;  
  padding: 0px 4px;  
}
.datepicker--button {
  color: $toxinDS50;
  display: inline-block;    
  //width: auto;
  height: auto;
}
.datepicker--button:hover {
  color: inherit;
  background: inherit;
}

.datepicker__button-apply {  
  display: inline-block;
  color: $toxinPurple;
}
