.headers-footers {
  &__header-auth-false {
    margin-top: 150px;
    margin-bottom: 40px;
    z-index: 2;
  }

  &__header-auth-true {
    margin-bottom: 40px;    
  }

  &__footer-normal {
    margin-bottom: 41px;
  }

  &__footer-responsive {
    margin-bottom: 130px;
  }

  .header__header-menu,
  .header-menu__item:not(:last-of-type) {
    margin-right: 28px;
  }

  .header-menu__item:not(:last-of-type).header-menu__list_arrow {
    margin-right: 20px;
  }

  .button-bordered_header {
    padding: 9px 20px 10px 18px;
}

  @media screen and (max-width: 3840px) {
    &__footer-responsive {
      .footer__footer-menu,
      .footer__subscribe-area,
      .footer__copyright {
        display: none;
      }

      .footer__footer-top {
        border: none;
        justify-content: center;
        padding-bottom: 5px;
        padding-top: 100px;
        min-height: 233px;
      }
      .footer__footer-bottom {
        justify-content: center;
        padding-top: 0px;
        padding-bottom: 110px;
      }

      .footer__footer-top .footer__logo-with-text {
        text-align: center;
        width: auto;
        margin-right: 0;
        max-width: 560px;
        display: flex;
        justify-content: center;
        margin: 0 auto 17px auto;
      }

      .logo-with-text__text {
        letter-spacing: normal;
      }
    }
  }
}
