// data={caption:string, placeholder:string, type:string, classes: string, value: string}
mixin dd-input(data)
  .dd-input
    label(class="dd-input__caption" for="input") #{data.caption}
    .dd-input__wrapper
      input(value=data.value class="dd-input__input"+ (data.classes ? " "+data.classes : "") id="input" type=data.type placeholder=data.placeholder)

