include ../checkbox/checkbox

mixin checkboxes-list({caption, checkboxes=[{text:"Error: items is not defined"}]}={})
  .checkboxes-list
    .checkboxes-list__caption #{caption}
    ul.checkboxes-list__list    
      for checkbox in checkboxes
        li.checkboxes-list__item
          +checkbox(checkbox)