mixin checkboxes-list(data)
  .checkboxes-list
    h3.checkboxes-list__caption #{data.caption}
    ul.checkboxes-list__list    
      for cb in data.checkboxes
        li.checkboxes-list__item
          +checkbox(cb)