include ../checkbox/checkbox

mixin checkboxes-list({caption, checkboxes})
  .checkboxes-list
    h2.checkboxes-list__caption #{caption}
    ul.checkboxes-list__list    
      for checkbox in checkboxes
        li.checkboxes-list__item
          +checkbox(checkbox)