mixin checkboxes-list(data)
  figure.checkboxes-list
    figcaption.checkboxes-list__caption #{data.caption}
    ul.checkboxes-list__list    
      for cb in data.checkboxes
        li.checkboxes-list__item
          +checkbox(cb)  



