.checkboxes-list__list {
list-style: none;
}

.checkboxes-list__caption {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 17px;
}

.checkboxes-list__item:not(:last-child) {
  margin-bottom: 10px;
}

