include ../round-image/round-image
include ../like-button/like-button

mixin feedback({image, like, caption="Caption", time, text="Text"}={})
  .feedback
    .feedback__left-column
      .feedback__wrapper-for-round-image
        +round-image(image)      
      +like-button(like)   
    .feedback__right-column
      p.feedback__caption #{caption}
      time.feedback__time #{time}
      p.feedback__text #{text}