@import "../round-image/round-image.scss";
@import "../like-button/like-button.scss";

.feedback {
  display: flex;

  &__left-column {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__right-column {
    display: flex;
    flex-direction: column;
  }
  &__caption {
    padding-top: 3px;
    font-weight: bold;
    font-size: 14px;
  }
  &__time {
    padding-top: 6px;
    font-size: 14px;
    margin-bottom: 13px;
  }
  &__text {
    font-size: 14px;
    line-height: 24px;
    color: $toxin-color-black-75;
  }
  &__wrapper-for-round-image {
    margin-bottom: 11px;
  }
}
