@import "../../../common.scss";

@import "../../../fonts/Montserrat/fonts.css";
@import "../../../fonts/MaterialIcons/material-icons.css";
@import "../../../fonts/Quicksand/fonts.css";
@import "../../../fonts/Open-Sans/fonts.css";

@import "../../../../node_modules/air-datepicker/dist/css/datepicker.css";
@import "../../../components/datapicker/datapicker.scss";

body {
  margin: 0 auto;
  padding: 150px 140px 140px 140px;
  min-width: 320px;
  max-width: 1440px;  
  display: flex;
  flex-wrap: wrap;
  background: #f4f4f6;
}

form {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.column1, .column2 {width: 380px;}
.column3 {width: 320px;}
.column1,
.column2 {
  margin-right: 40px;
}
.column1__list, .column2__list, .column3__list {
  list-style: none;
}
.column1__list, .column2__list {
  margin-right: 40px;
}
.column1__item, .column2__item {
  margin-bottom: 40px;
}









@import "../../../components/text-input/text-input.scss";
// @import "../../../components/dropdown-input/dropdown-input.scss";
@import "../../../components/masked-input/masked-input.scss";
@import "../../../components/dd-input/dd-input.scss";
// @import "../../../components/fdd-input/fdd-input.scss";
// @import "../../../components/subscribe-input/subscribe-input.scss";
// @import "../../../components/comfort-input/comfort-input.scss";
// @import "../../../components/expandable-checkbox-list/expandable-checkbox-list.scss";
// @import "../../../components/checkbox/checkbox.scss";
// @import "../../../components/comfort-status/comfort-status.scss";
// @import "../../../components/comfort-status-list/comfort-status-list.scss";
//
// @import "../../../components/checkboxes-list/checkboxes-list.scss";
@import "../../../components/radios-list/radios-list.scss";
@import "../../../components/toggle/toggle.scss";
// @import "../../../components/toggles-list/toggles-list.scss";
// @import "../../../components/like-button/like-button.scss";
// @import "../../../components/rate-button/rate-button.scss";
@import "../../../components/guests-input/guests-input.scss";
// @import "../../../components/round-image/round-image.scss";
// @import "../../../components/message-control/message-control.scss";
// @import "../../../../node_modules/ion-rangeslider/css/ion.rangeSlider.css";
// @import "../../../components/range-slider/range-slider.scss";
@import "../../../components/button/button.scss";
// @import "../../../components/pagination/pagination.scss";
// @import "../../../components/bullet/bullet.scss";
// @import "../../../components/bullets-list/bullets-list.scss";
@import "../../../components/item-quantity-dropdown/item-quantity-dropdown.scss";
@import "../../../components/room-reservation-form/room-reservation-form.scss";
@import "../../../components/sign-up-form/sign-up-form.scss";
@import "../../../components/order-info-form/order-info-form.scss";
@import "../../../components/sign-in-form/sign-in-form.scss";