include ../../../components/room-reservation-form/room-reservation-form

doctype html
html
  head
    meta(charset="UTF-8")
    title Cards
  body
    .column1
      ul.column1__list
        li.column1__item
          +room-reservation-form
        li.column1__item        
    .column2
      
    .column3  
