include ../../../components/room-reservation-form/room-reservation-form
include ../../../components/sign-up-form/sign-up-form
include ../../../components/order-info-form/order-info-form
include ../../../components/sign-in-form/sign-in-form
include ../../../components/datepicker/datepicker
include ../../../components/button/button
include ../../../components/room-info/room-info
include ../../../components/image-slider/image-slider


doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Cards
  body
    .column1
      ul.column1__list
        li.column1__item
          +room-reservation-form
        li.column1__item       
          +sign-up-form 
    .column2
        ul.column2__list
          li.column2__item
            +order-info-form
          li.column2__item
            +sign-in-form
    .column3
      ul.column3__list
        li.column3__item
          +datepicker({isStandAlone:true})
        li.column3__item.column3__wrapper-for-image-slider          
          +room-info({id:'image-slider1', number:888, isLux:true, cost:'9 990', starscount:5, commentscount:145, isShowNavBtns:true,
                              images:[
                              '../../../images/rooms/888/image1.png',
                              'http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg',
                              'http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg',
                              'http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg',
                              ]})
        li.column3__item.column3__wrapper-for-image-slider          
          +room-info({id:'image-slider2', number: 840, isLux:false, cost:'9 990', starscount:4, commentscount:65, 
                              images:[
                              '../../../images/rooms/840/image1.png',
                              'http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg',
                              'http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg',
                              'http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg',
                              ]})
