mixin checkbox({isChecked, description, text="text"}={})
  label.checkbox
    input(type = "checkbox" checked = (isChecked && "checked")).checkbox__input    
    .checkbox__text(class = description ? "checkbox__text_bold" : "") #{text}
    if description
      p.checkbox__description #{description}