mixin checkbox({id, isChecked, desc, text})
  label.checkbox
    input(type="checkbox" checked=(isChecked && "checked")).checkbox__input    
    .checkbox__text(class=desc && "checkbox__text_is-reach-checkbox") #{text}
    if desc
      p.checkbox__desc(class=desc && "checkbox__desc_is-reach-checkbox") #{desc}