.room-info-caption {
  &__caption {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: inherit;
  }

  &__caption-left-part {
    font-size: inherit;
    color: $toxin-color-black-100;
  }

  &__caption-n {
    font-family: $toxin-font-quicksand;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
  }

  &__caption-room-number {
    font-family: $toxin-font-quicksand;
    margin-right: 5px;
    font-size: inherit;
    font-weight: bold;
  }
  &__room-type {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: $toxin-color-purple;
  }

  &__cost-per-day {
    color: $toxin-color-black-50;
    font-weight: bold;
  }
  &__cost-per-day-value {
    margin-right: 5px;
    font-size: 14px;
  }
  &__cost-per-day-text {
    font-weight: normal;
    font-size: 12px;
  }
}
