mixin room-info-caption({number, isLux, cost} = data)
  .room-info-caption
    .room-info-caption__caption-left-part
      span.room-info-caption__caption-n №
      span.room-info-caption__caption-room-number #{number}
      span.room-info-caption__room-type #{(isLux ? "Люкс" : "")}         
    .room-info-caption__cost-per-day
      span.room-info-caption__cost-per-day-value #{cost}₽
      span.room-info-caption__cost-per-day-text в сутки