mixin flexslider(images=[])
  .flexslider.js-flexslider
    ul.slides.flexslider__list
      for image,index in images
        li.flexslider__item
          img.flexslider__image(src = image alt = "image"+(index+1))