.subscribe-input__caption {  
  display: inline-block;
  margin-bottom: 5px;
}

.subscribe-input__input {
  border: 1px solid $toxinDS25;
  border-radius: 4px;
  background: white;
  padding: 13px 15px;
  padding: 13px 30px 13px 15px;
  font-size: 14px;    
  height: 44px;
  width: 100%;
}

.subscribe-input__input::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: $toxinDS25;  
}
.subscribe-input__input:focus, .subscribe-input_isFocused {
  border: 1px solid $toxinDS50;
}

.subscribe-input {  
  position: relative;
  width: 100%;
}

.subscribe-input:after {
  content: "arrow_forward";
  font-family: 'Material Icons';        
  font-size: 24px;
  background: linear-gradient(180deg, $toxinPurple 0%, $toxinBlue 100%);
  background-clip: text;  
  -webkit-text-fill-color: transparent;
  color: $toxinBlue;
  position: absolute;
  top: 20px;
  right: 0px;    
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;  
}