.subscribe-input {
  font-family: $toxin-font-montserrat;
  width: 100%;

  &__caption {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__input {
    border: 1px solid $toxin-color-black-25;
    border-radius: 4px;
    background: white;
    padding: 12px 42px 12px 15px;
    font-size: 14px;
    width: 100%;
    font-family: inherit;
  }

  &__input::placeholder {
    font-size: 14px;
    line-height: 18px;
    color: $toxin-color-black-25;
  }

  &__input:hover,
  &__input:focus {
    border: 1px solid $toxin-color-black-50;
  }

  &__wrapper {
    position: relative;
    overflow: visible;
  }

  &__submit {
    height: 100%;
    width: 44px;
    position: absolute;
    right: 0;
    border: 0;
    background: none;
    cursor: pointer;
  }

  &__submit::after {
    content: 'arrow_forward';
    content: '\e5c8';
    font-family: $toxin-font-material-icon;
    font-size: 24px;
    background: $toxin-gradient-purple-blue;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $toxin-color-blue;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    font-feature-settings: 'liga';
  }
}
