mixin subscribe-input({caption, placeholder})
  .subscribe-input
    label.subscribe-input__caption #{caption}
    .subscribe-input__wrapper 
      input.subscribe-input__input(type="email" placeholder=placeholder)