mixin subscribe-input({caption, placeholder="Email"}={})
  label.subscribe-input
    if caption
      h3.subscribe-input__caption #{caption}
    form.subscribe-input__wrapper(method = "post" action = "#")
      input.subscribe-input__input(type = "email" placeholder = placeholder)
      button.subscribe-input__submit