mixin subscribe-input({caption, placeholder})
  label.subscribe-input
    if caption
      h3.subscribe-input__caption #{caption}
    .subscribe-input__wrapper 
      input.subscribe-input__input(type="email" placeholder=placeholder)