mixin subscribe-input(data)
  .subscribe-input
    if data.caption
      label.subscribe-input__caption #{data.caption}
    .subscribe-input__wrapper
      input.subscribe-input__input(type='email' placeholder=data.placeholder)






mixin subscribe-input-old(data)
  label.subscribe-input
    if (data.caption)
      h3.subscribe-input__caption #{data.caption}    
    input.subscribe-input__input(type="email" placeholder=data.placeholder)






