.subscribe-input__caption {  
  display: inline-block;
  margin-bottom: 5px;
}

.subscribe-input__input {
  border: 1px solid $toxinDS25;
  border-radius: 4px;
  background: white;
  padding: 13px 15px;
  padding: 13px 30px 13px 15px;
  font-size: 14px;    
  height: 44px;
  width: 100%;
}

.subscribe-input__input::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: $toxinDS25;  
}
.subscribe-input__input:focus, .subscribe-input_isFocused {
  border: 1px solid $toxinDS50;
}

.subscribe-input__wrapper {
  position: relative;
  overflow:visible;
}

.subscribe-input {    
  width: 100%;
}

.subscribe-input__wrapper:after {
  content: "arrow_forward";
  content: '\e5c8';
  font-family: $toxin-font-material-icon;
  font-size: 24px;
  background: linear-gradient(180deg, $toxinPurple 0%, $toxinBlue 100%);
  background-clip: text;  
  -webkit-text-fill-color: transparent;
  color: $toxinBlue;
  position: absolute;
  top: 0px;
  right: 0px;    
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-feature-settings: 'liga';
}