.button-filled {
  border: none;
  font-family: $toxin-font-montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  background: none;
  color: #bc9cff;
  cursor: pointer;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #ffffff;
  padding: 15px 20px;

  &_disabled,
  &:hover,
  &:focus {
    background: linear-gradient(180deg, #bc9cff7f 0%, rgba(139, 164, 249, 0.5) 100%);
  }

  &_dynamic-width {
    width: 100%;
    min-width: 78px;
    padding-left: 0;
    padding-right: 0;
  }

  &_header {
    padding: 10px 20px;
  }
}
