.button-filled {
  border: none;
  font-family: $toxin-font-montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  background: none;
  color: $toxin-color-purple;
  cursor: pointer;
  text-transform: uppercase;
  background: $toxin-gradient-purple-blue;
  border-radius: 22px;
  color: #fff;
  padding: 15px 20px;

  &_disabled,
  &:hover,
  &:focus {
    background: $toxin-gradient-purple-blue-half-opacity;
  }

  &_width_dynamic {
    width: 100%;
    min-width: 78px;
    padding-left: 0;
    padding-right: 0;
  }

  &_header {
    padding: 10px 20px;
    width: 100%;
  }
}
