mixin button-filled({isEnabled=true, dynamic_height, dynamic_width, type="button", text} = data)
  button.button-filled(type=type 
    class=(dynamic_height ? "button-filled_dynamic-height":"") +" "+
      (dynamic_width ? "button-filled_dynamic-width" : "")+" "+
      (isEnabled ? "": "button-filled_disabled")) #{text}