@import "../logo/logo.scss";
@import "../footer-menu/footer-menu.scss";
@import "../subscribe-input/subscribe-input.scss";


.footer {
  background: white;
}

.logoArea {
  width: 260px;
  margin-right: 15px;
  flex-shrink: 3;
  .logo {
    margin-bottom: 13px;
  }
  .logoArea__text {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }
}

.footerUp {
  display: flex;
  //justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  //width: calc(1160px + 140px + 140px);
}
.foo_terUp > * {
  border: 1px solid gray;
}

.footerUp > .exMenu {
  margin-left: auto;
}

.footerUp {
  min-height: 373px;
  //height: 372px;
  padding: 100px 9.722222222222222%;
  //padding-bottom: 101px;
}
.footer .exMenu .exMenu__list:last-child {
  margin-right: 15px;
}
.exMenu {
  width: 600px;
  padding-top: 4px;
}
.subscribeArea {
  width: 260px;
}



.subscribeArea {
  min-width: 140px;  
  .subscribeArea__title {
    padding-top: 4px;
    margin-bottom: 18px;
    font-weight: 900;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }
  .subscribeArea__text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 23px;
    color: rgba(31, 32, 65, 0.75);
  }
}

.footerDown {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  min-height: 70px;  
  padding: 0px 9.722222222222222%;
  .footerDown__copyright {
    font-size: 14px;
    line-height: 17px;
    color: $toxinDS75;
    letter-spacing: -0.05px;
  }
}

.socialButtons {
  display: flex;  
  > * {
    font-family: "Awesome 5 Brands-Regular-400";
    text-decoration: none;
    font-size: 24px;
    line-height: 23px;    
    color: rgb(188,156,255);
    width: 24px;
    height: 24px;
  }
  
  .socialButtons__btnTwitter {
    margin-right: 24px;
  }
  .socialButtons__btnFacebook {
    margin-right: 16px;
  }
}

//--media for footer1---------------------------------------------
@media screen and (max-width: 1180px) {
  .footer {
    .footerUp,
    .footerDown {
      padding-left: 2%;
      padding-right: 2%;
    }
  }
}
//--media for footer1 and footer2
@media screen and (max-width: 825px)  {
  .footer {
    .exMenu,
    .subscribeArea {
      display: none;
    }
    .footerUp {
      border: none;
      justify-content: center;
      padding-bottom: 25px;
      padding-top: 100px;
      min-height: 233px;
    }
    .footerDown {
      justify-content: center;
      padding-bottom: 100px;
    }
    .footerDown__copyright {
      display: none;
    }

    .logoArea {
      width: auto;
      margin-right: 0px;
    }
    .logoArea .logo {
      display: block;
      margin: 0 auto 17px auto;
    }
    .logoArea .logoArea__text {
      text-align: center;      
      max-width: 560px;
    }
  }
}

@media screen and (max-width: 1920px)  {
  .footer + .footer {
    .exMenu,
    .subscribeArea {
      display: none;
    }
    .footerUp {
      border: none;
      justify-content: center;
      padding-bottom: 25px;
      padding-top: 100px;
      min-height: 233px;
    }
    .footerDown {
      justify-content: center;
      padding-bottom: 110px;
    }
    .footerDown__copyright {
      display: none;
    }

    .logoArea {
      width: auto;
      margin-right: 0px;
    }
    .logoArea .logo {
      display: block;
      margin: 0 auto 17px auto;
    }
    .logoArea .logoArea__text {
      text-align: center;      
      max-width: 560px;
    }
  }
}

