include ../footer-menu/footer-menu
include ../logo-with-text/logo-with-text
include ../subscribe-area/subscribe-area
include ../social-buttons/social-buttons

mixin footer(data)
  footer.footer
    .footer__footer-top
      .footer__logo-with-text
        +logo-with-text({logo_path:data.logo_path, desc: data.desc})      
      .footer__footer-menu
        +footer-menu(data.menu)
      .footer__subscribe-area
        +subscribe-area(data.sub)
    .footer__footer-bottom
      p.footer__copyright #{data.copyright}
      +social-buttons