.footer {
  background: white;
  box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__menu {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $toxin-color-black-10;
    border-top: 1px solid $toxin-color-black-25;
    padding: 100px 0;
    width: 100%;
  }

  &__wrapper-menu {
    display: flex;
    max-width: 1160px;
    width: 100%;
  }

  &__logo-with-text {
    margin-right: 25px;
    max-width: 260px;
  }

  &__subscribe-area {
    max-width: 260px;
  }

  &__footer-menu {
    margin-left: auto;
    flex-basis: 600px;
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
    max-width: 1170px;
    width: 100%;
  }

  &__copyright-text {
    font-size: 14px;
    line-height: 17px;
    color: $toxin-color-black-75;
    letter-spacing: -0.1px;
  }

  &__menu,
  &__copyright {
    padding-left: 5px;
    padding-right: 5px;
  }

  @media (max-width: 1200px) {
    &__footer-menu {
      margin-right: 15px;
    }
  }

  @media (max-width: 925px) {
    &__footer-menu,
    &__subscribe-area,
    &__copyright-text {
      display: none;
    }

    &__menu {
      border: none;
      justify-content: center;
      padding-bottom: 5px;
      padding-top: 100px;
    }

    &__copyright {
      justify-content: center;
      padding-bottom: 110px;
    }

    &__logo-with-text {
      text-align: center;
      width: auto;
      max-width: 560px;
      margin: 0 auto 17px auto;
    }
  }

  @media (max-width: 815px) {
    &__menu {
      padding: 10px 5px;
      min-height: auto;
    }

    &__copyright {
      padding: 0 5px 5px;
      min-height: auto;
    }
  }
}
