include ../logo/logo
include ../footer-menu/footer-menu
include ../subscribe-input/subscribe-input
mixin footer(data)
  footer.footer
    .footerUp
      .logoArea
        +logo
        p.logoArea__text #{data.desc}
      +createFooterMenu(data.menu)
      .subscribeArea
        p.subscribeArea__title #{data.sub.caption}
        p.subscribeArea__text #{data.sub.desc}
        +subscribe-input({placeholder:data.sub.placeholder})
    .footerDown
      p.footerDown__copyright #{data.copyright}
      .socialButtons
        a.socialButtons__btnTwitter(href="#") twitter
        a.socialButtons__btnFacebook(href="#") facebook-square
        a.socialButtons__btnInstagram(href="#") instagram