extends ../../../template

include ../../../components/pages/ui-kit/headers-footers/headers-footers

block variables
  - let lang = "en"
  - let title = "Headers & Footers"
  - let description = "UIkit: headers & footers"
  - let keywords = "uikit, headers, footers"
  - let path = "../../../"

block content
  - 
    const menuheader = [
      {text: "Home", link: mock, isBold: true},
      {text: "About Us", link: mock},
      {
        text: "Services", link: "#", 
        sm: [
          {
            text: "Одежда", link: "#",             
          },
          {
            text: "Девайсы", link: "#", 
          },
          {text: "Прод.пит.", link: mock}
        ]
      },    
      {text: "Careers", link: mock},
      {text: "News", link: mock},
      {text: "Documentation", link: mock}
    ]   
    
    let menufooter= [
      {
        title: "NAVIGATION",
        items: [
          {text: "About Us", link: mock},
          {text: "News", link: mock},
          {text: "Support", link: mock},
          {text: "Products", link: mock}
        ]
      },
      {
        title: "ABOUT US",  
        items: [
          {text: "Who we are", link: mock},
          {text: "Our team", link: mock},
          {text: "Careers", link: mock},
          {text: "Investors", link: mock}
        ]
      },
      {
        title: "SUPPORT",   
        items: [
          {text: "Documentation", link: mock},
          {text: "Community", link: mock},
          {text: "Get In Touch", link: mock}
        ]
      }
    ];
    const logoPath = "../../images/components/logo/logo.svg";
    const logoWithText = {
      logoPath: logoPath,
      desc: "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."      
    };
    let caption = "SUBSCRIBE TO OUR NEWSLETTER";
    let subdesc = "Receive our latest news and promotions in your inbox!"
    let subscribeInput = {placeholder: "Your email address"}
    let cr = "Copyright © 2018 Toxin UI Kit. All rights reserved."    
    let socialButtons = ["twitter", "facebook-square", "instagram"]

  +headers-footers({
    headerAuthFalse: {
      logoPath: logoPath, 
      isAuth: false, 
      menu: menuheader, 
      isHeader: true, 
      buttonSignIn: {text: "Login", link: "../sign-in.html"},
      buttonSignUp: {text: "Register", link: "../sign-up.html"}
    },
    headerAuthTrue: {
      logoPath: logoPath, 
      isAuth: true, 
      menu: menuheader, 
      isHeader: true
    },
    footerNormal: {
      logoWithText: logoWithText,
      menu: menufooter,       
      sub: {
        caption: caption, 
        desc: subdesc, 
        subscribeInput: subscribeInput
      },
      copyright: cr,
      socialButtons: socialButtons
    },
    footerResponsive: {
      logoWithText: logoWithText,
      menu: menufooter,       
      sub: {
        caption: caption, 
        desc: subdesc, 
        subscribeInput: subscribeInput
      },
      copyright: cr,
      socialButtons: socialButtons
    }
  })