* {
  @include reset;
}

html {
  @include define-html;
}

body {
  @include define-body;
  background: #e5e5e5;
}

.header {
  background: #fff;
}

.header:nth-child(1) {
  margin-top: 150px;
  margin-bottom: 40px;
  z-index: 2;
}

.header:nth-child(2) {
  margin-bottom: 40px;
  z-index: 1;
}

body > footer {
  margin-bottom: 40px;
}
.footer + .footer {
  margin-bottom: 130px;
}

@media screen and (max-width: 3840px) {
  .footer + .footer {
    .footer__footer-menu,
    .footer__subscribe-area,
    .footer__copyright {
      display: none;
    }

    .footer__footer-top {
      border: none;
      justify-content: center;
      padding-bottom: 5px;
      padding-top: 100px;
      min-height: 233px;
    }
    .footer__footer-bottom {
      justify-content: center;
      padding-top: 0px;
      padding-bottom: 110px;
    }

    .footer__footer-top .footer__logo-with-text {
      text-align: center;
      width: auto;
      margin-right: 0;
      max-width: 560px;
      display: flex;
      justify-content: center;
    }
  }

  @media (max-width: 815px) {
    .footer__footer-top {
      padding: 10px 5px;
      min-height: auto;
    }
    .footer__footer-bottom {
      padding: 0 5px 5px;
      min-height: auto;
    }
  }
}
