.sign-in {
  &__main-content {
    width: 100%;
    min-height: 701px;
    background: url("sign.jpg") no-repeat;
    padding-top: 172px;
  }

  &__sign-in-form {
    margin: 0 auto;
    max-width: 380px;
  }
}
