* {
  @include reset;
}

html {
  @include define-html;
}

body {
  @include define-body;
}

.sign-in {
  &__main-content {
    width: 100%;
    min-height: 701px;
    background: url("sign.jpg") no-repeat;
    padding-top: 172px;
    background-size: cover;
  }

  &__sign-in-form {
    margin: 0 auto;
    max-width: 390px;
    padding: 0 5px;
  }

  @media (max-width: 515px) {
    &__main-content {
      padding-top: 30px;
      min-height: 421px;
    }
  }
}
