mixin social-buttons(items=["Error: items is not defined"])
  ul.social-buttons
    for item in items
      li.social-buttons__item
        a.social-buttons__button(href = mock target = "_blank" rel="noopener noreferrer") #{item}