.social-buttons {
  display: flex;
  font-family: 'awesome-5-brands-regular-400';
  font-size: 24px;

  &__button {
    text-decoration: none;
    color: rgb(188, 156, 255);
  }

  &__twitter,
  &__facebook {
    margin-right: 23px;
  }
}
