mixin social-buttons({iconTwitter, iconFacebook, iconInstagram}={})
  .social-buttons
    a.social-buttons__button.social-buttons__twitter(href = mock target = "_blank" rel="noopener noreferrer") #{iconTwitter}
    a.social-buttons__button.social-buttons__facebook(href = mock target = "_blank" rel="noopener noreferrer") #{iconFacebook}
    a.social-buttons__button.social-buttons__instagram(href = mock target = "_blank" rel="noopener noreferrer") #{iconInstagram}