mixin social-buttons({iconTwitter, iconFacebook, iconInstagram})
  .social-buttons
    a.social-buttons__button.social-buttons__twitter(href = "#") #{iconTwitter}
    a.social-buttons__button.social-buttons__facebook(href = "#") #{iconFacebook}
    a.social-buttons__button.social-buttons__instagram(href = "#") #{iconInstagram}