mixin social-buttons
  .socialButtons
    a.socialButtons__btnTwitter(href="#") twitter
    a.socialButtons__btnFacebook(href="#") facebook-square
    a.socialButtons__btnInstagram(href="#") instagram