mixin social-buttons
  .social-buttons
    a.social-buttons__button.social-buttons__twitter(href="#") twitter
    a.social-buttons__button.social-buttons__facebook(href="#") facebook-square
    a.social-buttons__button.social-buttons__instagram(href="#") instagram