mixin social-buttons({iconTwitter, iconFacebook, iconInstagram})
  .social-buttons
    a.social-buttons__button.social-buttons__twitter(href = mock) #{iconTwitter}
    a.social-buttons__button.social-buttons__facebook(href = mock) #{iconFacebook}
    a.social-buttons__button.social-buttons__instagram(href = mock) #{iconInstagram}