.datepicker-input {
  font-family: $toxin-font-montserrat;

  &__caption {
    display: inline-block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }

  &__input {
    border: 1px solid $toxin-color-black-25;
    border-radius: 4px;
    background: white;
    padding: 10px 32px 14px 13px;
    font-size: 14px;    
    width: 100%;
    font-family: inherit;
    color: $toxin-color-black-75;
  }

  &__input::placeholder {
    font-size: 14px;
    color: $toxin-color-black-75;
  }
  
  &__input:hover,
  &__input:focus {
    border: 1px solid $toxin-color-black-50;
  }

  &__wrapper {
    position: relative;
  }

  &__wrapper:after {
    content: "keyboard_arrow_down";
    font-family: $toxin-font-material-icon;
    color: $toxin-color-black-50;
    font-size: 24px;
    position: absolute;
    top: 12px;
    right: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
}
