mixin datepicker-input({hasDatepicker=true, caption, placeholder}={})  
  label.datepicker-input
    if caption
      label.datepicker-input__caption #{caption}
    .datepicker-input__wrapper
      input.datepicker-input__input(readonly placeholder = placeholder class = (hasDatepicker && "toxin-datepicker js-toxin-datepicker"))