.font-example {
  display: flex;
}
.font-example__title {
  font-family: Montserrat;
  margin-right: 30px;
  color: $toxinDS25;
  text-align: right;
  width: 50px;
}
.font-example__desc {
  color:$toxinDS100;
}



.font-example_ {
  &h1 {    
    font-family: Quicksand;    
    font-size: 24px;
    line-height: 30px;    
    .font-example__desc {width: 336px;font-weight: bold;}
  }
  &h2 {    
    font-family: Quicksand;    
    font-size: 19px;
    line-height: 24px;
    .font-example__desc {width: 282px;font-weight: bold;}
  }
  &h3 {    
    font-family: Montserrat-Regular;    
    font-size: 12px;
    line-height: 15px;
    .font-example__desc {width: 186px; font-weight: bold;}
  }
  &body {    
    font-family: Montserrat-Regular;    
    font-size: 14px;
    line-height: 24px;
    .font-example__desc {width: 301px; color: $toxinDS75;}
  }
}
