mixin header-menu(items)  
  nav.menu.menu__icon_expand
    .menu__icon.material-icons menu
    +MenuItems(items)

mixin MenuItems(items)  
  ul.menu__list
    for mi in items
      +createHTMLtags(mi)
        if mi.sm
          +MenuItems(mi.sm)

mixin createHTMLtags(mi)
  - var cs = mi.sm ? "menu__list_arrow": ""
  li.menu__item(class=mi.sm && 'menu__item_sub-menu')
    a.menu__link(class=cs+(mi.isBold ? 'menu__link_bold': '') href=mi.link) #{mi.text}
    block      