mixin header-menu(items)
  nav.menu.menu__icon_responsive    
    +createMenuItems(items)

mixin createMenuItems(items)  
  ul.menu__list
    for mi in items
      +createHTMLtags_li_a(mi)
        if mi.sm
          +createMenuItems(mi.sm)

mixin create345HTMLtags_li_a(mi)  
  - var cs = mi.sm ? "menu__list_arrow": ""   
  - var something = typeof mi.link != undefined ? mi.link : '#'
  li.menu__item
    a.menu__link(class=cs+'asdf' href=link) #{mi.text}
      block