.menu {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 5px;
  height: 100%;
}

.menu__88320 {
  display: block;
}

.menu__icon {
  display: none;
  cursor: pointer;
}

.menu__list {
  list-style: none;
  background: white;
  display: flex;
}

.menu__link {
  font-family: $toxin-font-montserrat;
  color: $toxin-color-black-50;
  font-size: 14px;
  text-decoration: none;
  line-height: 36px;
}

.menu__link .menu__item:not(:last-of-type) {
  padding-right: 10px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item.menu__list_arrow {
  padding-right: 24px;
}
.menu > .menu__list > .menu__item.menu__item:not(:last-of-type) {
  margin-right: 30px;
  &.menu__item_sub-menu {
    margin-right: 20px;
  }
}

.menu__list:first-child > .menu__item:last-child > .menu__link {
  padding-right: 0px;
}
.menu__list_arrow {
  padding-right: 0px;
}

.menu__link + .menu__list {
  position: absolute;
  min-width: 150px;
  display: none;
  border-radius: 3px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.07);
}

.menu__link + .menu__list > .menu__item {
  padding: 0 10px;
}

.menu__link + .menu__list .menu__list {
  position: absolute;
  top: -1px;
  right: -150px;
}

.menu__link + .menu__list .menu__item {
  position: relative;
}
.menu__list_arrow {
  position: relative;
}
.menu__list_arrow:after {
  content: "\E313";
  width: 24px;
  font-family: $toxin-font-material-icon;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  line-height: 20px;
  bottom: 6px;
  right: 2px;
  color: rgba(31, 32, 65, 0.5);
}

.menu__link_bold {
  font-weight: bold;
  color: $toxin-color-black-75;
}

.menu__icon.menu_show + .menu__list {
  transition: transform 600ms;
  transform: translateX(0);
}
