.header-menu {
  display: flex;
  align-items: center;
  position: relative;
  //padding-left: 5px;
  height: 100%;

  &__list {
    list-style: none;
    background: white;
    display: flex;
    //flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  &__link {
    font-family: $toxin-font-montserrat;
    color: $toxin-color-black-50;
    font-size: 14px;
    text-decoration: none;
    line-height: 36px;
  }

  &__link:hover,
  &__link:focus {
    color: $toxin-color-black-75;
  }

  &__list_sub-list,
  &__list_sub-sub-list {
    position: absolute;
    //min-width: 150px;
    display: none;
    border-radius: 3px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.07);
  }

  &__list_sub-sub-list {
    position: absolute;
    top: 0px;
    left: 150px;
  }

  &__item:not(:last-of-type) {
    margin-right: 21px;
  }

  &__item_sub-item,
  &__item_sub-sub-item {
    position: relative;
    padding: 0 10px;
  }

  &__link_arrow {
    position: relative;
  }

  &__link_arrow:after {
    content: "\E313";
    font-family: $toxin-font-material-icon;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    line-height: 20px;
    bottom: 6px;
    right: 2px;
    color: rgba(31, 32, 65, 0.5);
    //position: absolute;
  }

  &__link_bold {
    font-weight: bold;
    color: $toxin-color-black-75;
  }

  @media (max-width: 830px) {
    padding: 0px;

    &__list {
      flex-direction: column;
      padding: 0px 15px;
    }

    &__item:not(:last-of-type) {
      margin-right: 0px;
    }

    &__link {
      font-size: 16px;
    }    

    .header-menu__list_sub-list,
    .header-menu__list_sub-sub-list {
      position: static;
    }
  }

  // @media (max-width: 715px) {
  //   &__icon {
  //     display: block;
  //   }

  //   &__list {
  //     padding: 0 5px;
  //     flex-wrap: nowrap;
  //     flex-direction: column;
  //     position: absolute;
  //     left: 0px;
  //     top: 100%;
  //     overflow: hidden;
  //     transform: translateX(-100%);
  //   }

  //   &__list_show {
  //     transition: transform 600ms;
  //     transform: translateX(0);
  //   }

  //   &__list_hide {
  //     transition: transform 400ms 0ms;
  //   }

  //   &__list_show .header-menu__list_sub-list,
  //   &__list_show .header-menu__list_sub-sub-list {
  //     position: static;
  //   }
  // }
}
