.legend {
  font-family: $toxin-font-montserrat;
  color: $toxin-color-black-75;
  font-size: 14px;
  line-height: 24px;
  padding-left: 15px;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: $toxin-color-black-25;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 7px;
  }

  &_orange-color::before {
    background: $toxin-gradient-cream-brulee-wax-flower;
  }

  &_green-color::before {
    background: $toxin-gradient-green-turquoise-blue;
  }

  &_purple-color::before {
    background: $toxin-gradient-purple-blue;
  }

  &_black-color::before {
    background: $toxin-gradient-gray-east-bay;
  }
}
