@import "../image-slider/image-slider.scss";
@import "../room-info-caption/room-info-caption.scss";
@import "../rate-button/rate-button.scss";

.room-info {
  border-radius: 4px;
  background: #fff;
  overflow: hidden;
}

.room-info__wrapper-for-image-slider {
  height: 151px;
}

.room-info__data {
  padding: 20px;
}

.room-info__wrapper-for-room-info-caption {
  font-size: 19px;
  border-bottom: 1px solid $toxin-color-black-10;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.room-info__feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.room-info__comments {
  color: $toxin-color-black-50;
}

.room-info__comments-count {
  font-weight: bold;
  margin-right: 5px;
}

