include ../rate-button/rate-button
include ../image-slider/image-slider
include ../room-info-caption/room-info-caption

mixin room-info({id, images, isShowNavBtns, number, isLux, luxText, cost, costText, starsCount, commentsLink, commentsCount, commentsText})
  .room-info
    .room-info__wrapper-for-image-slider
      +image-slider({id:id, image_index:1, images:images, isShowNavBtns:isShowNavBtns})
    .room-info__data
      .room-info__wrapper-for-room-info-caption
        +room-info-caption({number:number, isLux:isLux, luxText, costValue:cost, costText: costText})
      .room-info__feedback
        +rate-button({id: id, count: starsCount})
        a(href="#").room-info__comments
          span.room-info__comments-count #{commentsCount}
          span.room-info__comments-text #{commentsText}