include ../rate-button/rate-button

mixin room-info(data)
  .room-info
    .room-info__wrapper-for-image-slider
      +image-slider({id:data.id, index:1, images:['http://farm9.staticflickr.com/8072/8346734966_f9cd7d0941_z.jpg',
                              'http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg',
                              'http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg',
                              'http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg',
                              ]})
    .room-info__data
      .room-info__wrapper-for-room-info-caption
        +room-info-caption({number:888, isLux:true, cost:'9 990'})
      .room-info__bottom
        +rate-button({id:'room-info-star', count:5})
        .room-info__comments
          span.room-info__comments-count 145
          span.room-info__comments-text Отзывов