include ../rate-button/rate-button

mixin room-info(data)
  .room-info
    .room-info__wrapper-for-image-slider
      +image-slider({id:data.id, index:1, images:data.images, isShowNavBtns:data.isShowNavBtns})
    .room-info__data
      .room-info__wrapper-for-room-info-caption
        +room-info-caption({number:data.number, isLux:data.isLux, cost:data.cost})
      .room-info__feedback
        +rate-button({id:data.id, count:data.starscount, disabled: true})
        .room-info__comments
          span.room-info__comments-count #{data.commentscount}
          span.room-info__comments-text Отзывов