extends ../../../template

include ../../../components/pages/ui-kit/colors-type/colors-type

block variables
  - let lang = "en"
  - let title = "Colors & Type"
  - let description = "UIKit: colors & type"
  - let keywords = "uikit, colors, type"
  - let path = "../../../"

block content
  +colors-type({
      colorExampleItems: [
        {color: "color-example__square_dark-shade_100percent", description: "Dark Shade 100%", hex: "#1F2041"},
        {color: "color-example__square_dark-shade_75percent", description: "Dark Shade 75%", hex: "#1F2041"},
        {color: "color-example__square_dark-shade_50percent", description: "Dark Shade 50%", hex: "#1F2041"},
        {color: "color-example__square_dark-shade_25percent", description: "Dark Shade 25%", hex: "#1F2041"},
        {color: "color-example__square_dark-shade_5percent", description: "Dark Shade 5%",  hex: "#1F2041"},
        {color: "color-example__square_Purple", description: "Purple", hex: "#BC9CFF"},
        {color: "color-example__square_Green", description: "Green", hex: "#6FCF97"}
      ],
      fontExampleItems: [
        {type: "font-example_header_one", title: "H1", description: "This one is the sub-section or widget title"},
        {type: "font-example_header_two", title: "H2", description: "Next one is the item title inside widgets"},
        {type: "font-example_header_three", title: "H3", description: "THIS IS A LABEL OR CTA TEXT"},
        {type: "font-example_body", title: "Body", description: "This is the body text which is used for most of the design, like paragraphs, lists, etc"}
      ]     
  })