* {
    @include reset;
}

html {
    @include define-html;
}

body {
    @include define-body;
    padding: 145px 150px;
    display: flex;
}

.color-example__wrapper {
    margin-right: 416px;
}
.color-example:not(:last-of-type) {
    margin-bottom: 20px;
}

.font-example:not(:last-of-type) {
    margin-bottom: 50px;
}
