extends ../../../template

include ../../../components/pages/ui-kit/colors-type/colors-type

block variables
  - let lang = "en"
  - let title = "Colors & Type"
  - let description = "UIKit: colors & type"
  - let keywords = "uikit, colors, type"
  - let path = "../../../"

block content
  +colors-type({
      colorExampleItems: [
        {color: "dark-shade100%", description: "Dark Shade 100%", hex: "#1F2041"},
        {color: "dark-shade75%", description: "Dark Shade 75%", hex: "#1F2041"},
        {color: "dark-shade50%", description: "Dark Shade 50%", hex: "#1F2041"},
        {color: "dark-shade25%", description: "Dark Shade 25%", hex: "#1F2041"},
        {color: "dark-shade5%", description: "Dark Shade 5%",  hex: "#1F2041"},
        {color: "purple", description: "Purple", hex: "#BC9CFF"},
        {color: "green", description: "Green", hex: "#6FCF97"}
      ],
      fontExampleItems: [
        {type: "title", title: "H1", description: "This one is the sub-section or widget title"},
        {type: "subtitle", title: "H2", description: "Next one is the item title inside widgets"},
        {type: "label", title: "H3", description: "THIS IS A LABEL OR CTA TEXT"},
        {type: "text", title: "Body", description: "This is the body text which is used for most of the design, like paragraphs, lists, etc"}
      ]     
  })