.toggle {
  display: flex;
  height: 20px;
}

.toggle__input {
  display: none;
}
.toggle__label {
  position: relative;
  padding: 0 0 0 50px;
  cursor: pointer;
  font-size: 14px;
  color: $toxinDS75;
}
.toggle__label:before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 40px;
  height: 100%;
  border: 1px solid #bc9cff;
  border-radius: 10px;
  transition: 0.2s;
}
.toggle__label:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 3px;
  width: 12px;
  height: 12px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 100%;
  transition: 0.2s;
}
.toggle__input:checked {
  //background: $toxinDS25;
}
.toggle__input:checked + .toggle__label:after {
  left: 24px;
}

.toggle__input:not(:checked) {
  + .toggle__label:after {
    background: $toxinDS25;
  }
  + .toggle__label::before {
    border: 1px solid $toxinDS25;
  }
}
