.toggle {
  display: flex;
  height: 20px;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
  &__text {
    position: relative;
    padding: 0 0 0 50px;
    cursor: pointer;
    font-size: 14px;
    color: $toxin-color-black-75;
  }
  &__text:before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 40px;
    height: 100%;
    border: 1px solid #bc9cff;
    border-radius: 10px;
    transition: 0.2s;
  }
  &__text:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    width: 12px;
    height: 12px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 100%;
    transition: 0.2s;
  }

  &__input:checked + .toggle__text:after {
    left: 24px;
  }

  &__input:not(:checked) {
    + .toggle__text:after {
      background: $toxin-color-black-25;
    }
    + .toggle__text::before {
      border: 1px solid $toxin-color-black-25;
    }
  }
}
