include ../legend/legend

mixin legend-list(items=[{text: 'Error: items is not defined'}])
  ul.legend-list
    for item in items
      li.legend-list__item
        - const {text, color} = item
        +legend({text: text, color: color})