$toxin-color-black-100: #1f2041;
$toxin-color-black-75: rgba(31, 32, 65, 0.75);
$toxin-color-black-50: rgba(31, 32, 65, 0.5);
$toxin-color-black-10: rgba(31, 32, 65, 0.1);
$toxin-color-black-25: rgba(31, 32, 65, 0.25);
$toxin-color-black-5: rgba(31, 32, 65, 0.05);
$toxin-color-purple: #bc9cff;
$toxin-color-green: #6fcf97;
$toxin-color-blue: #8ba4f9;
$toxin-color-gray: #e5e5e5;
$toxin-color-light-gray: #f9f9f9;
$toxin-gradient-purple-blue: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$toxin-gradient-purple-blue-half-opacity: linear-gradient(180deg, #bc9cff7f 0%, #8ba4f97f 100%);
$toxin-gradient-green-turquoise-blue: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$toxin-gradient-black-prev: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
$toxin-gradient-black-next: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
$toxin-gradient-cream-brulee-wax-flower: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
$toxin-gradient-gray-east-bay: linear-gradient(180deg, #919191 0%, #3d4975 100%);
$toxin-font-material-icon: material-icons, Arial, sans-serif;
$toxin-font-montserrat: montserrat, Arial, sans-serif;
$toxin-font-open-sans: open-sans, Arial, sans-serif;
$toxin-font-quicksand: quicksand, Arial, sans-serif;
$toxin-font-awesome: awesome-5-brands-regular-400, Arial, sans-serif;

@mixin reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin define-html {  
  color: $toxin-color-black-100;
  font-size: 14px;
  font-family: $toxin-font-montserrat;  
}

@mixin define-html-uikit {
  @include define-html;
  background: #e2e2e2;
}

@mixin define-body {
  margin: 0 auto;
  min-width: 320px;  
  background: #fff;
}

@mixin define-body-uikit {
  @include define-body;
  max-width: 1440px;
}
