$toxinDS100: #1F2041;
$toxinDS75:  rgba(31, 32, 65, 0.75);
$toxinDS50:  rgba(31, 32, 65, 0.5);
$toxinDS10:  rgba(31, 32, 65, 0.1);
$toxinDS25:  rgba(31, 32, 65, 0.25);
$toxinDS5:  rgba(31, 32, 65, 0.05);
$toxinPurple: #BC9CFF;
$toxinGreen: #6FCF97;
$toxinBlue: #8BA4F9;

html { 
  background: #e2e2e2;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;  
}
body { 
  font-family: "Montserrat";
  font-size: 14px;
}

h1, h2, h3, label {
  font-family: Montserrat;    
  font-size: 12px;
  font-weight: bold;
  color: $toxinDS100;
  text-transform: uppercase;
  
}

input + label {
  font-weight: normal;
  text-transform: none;
}


h1, legend {
  font-size: 24px;
  line-height: 30px;
  font-family: "Open Sans";
  font-weight: bold;
  color: $toxinDS100;
}

h2 {
  font-size: 19px;  
  font-family: "Open Sans";
}



input, textarea, select, button {
  font: inherit;
  outline: none;
}

form {
  background: white;
  padding: 40px 30px 30px;
}

fieldset {
  border: 0 none;
}

//https://allyjs.io/tutorials/hiding-elements.html#how-to-hide-elements-visually
.common_hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

