@import "common.scss";

@import "fonts/FA5_Brands-Regular-400/fonts.css";
@import "fonts/MaterialIcons/material-icons.css";
@import "fonts/Montserrat/fonts.css";
@import "fonts/Open-Sans/fonts.css";

@import "components/header/header.scss";
@import "components/footer/footer.scss";
@import "../node_modules/air-datepicker/dist/css/datepicker.css";
@import "components/room-reservation-form/room-reservation-form.scss";

.background {
  width: 100%;
  min-height: 900px;
  position: relative;
  background: url("images/backgrounds/index.jpg");    
}

.background__image {  
  width: 100%;
  height: 100%;
}

.background__wrapper-form {
  // position: absolute;
  // left: 139px;
  // top: 140px;
  margin-left: 139px;
  margin-left: 9.6528%;
  margin-top: 70px;
}

.background__text {
  color: $toxinDS75;
  width: 297px;  
  position: absolute;
  right: 133px;
  right: 9.236111111111111%;
  bottom: 21px;
  line-height: 24px;
  text-align: right;
  // margin-top: 316px;  
  // margin-left: 1009px;
  // margin-left: 70.06944444444444%;    
  //align-self: flex-end;
}


.menu > .menu__list > .menu__item:not(:last-child) {
  padding-right: 20px;  
}
.menu__link {
  padding-right: 0px;
}

.header__wrapper-menu {
  margin-right: 20px;
}



@media all and (max-width: 1100px) {
  .header {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media all and (max-width: 700px) {
  .menu > .menu__list .menu__item {
    text-align: center;
  }

  .menu > .menu__list > .menu__item:not(:last-child) {
    padding-right: 0;
  }

  .menu__link {
    padding-right: 0;
  }

  .header {
    padding-left: 5px;
    padding-right: 5px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header__wrapper-menu {
    order: 10;
    margin: auto;
  }

  .menu > .menu__list {
    flex-direction: column;
    //flex-basis: 100%;
  }
  .menu__link + .menu__list {
    position: static;
    box-shadow: none;
  }
  .menu__link + .menu__list .menu__list {
    position: static;
  }
}

@media all and (max-width: 368px) {
  // .header {
  //   padding-left: 0px;
  //   padding-right: 0px;
  // }
  .header__wrapper-auth-name {
    padding-left: 0;
  }
  .header__wrapper-menu {
    flex-basis: auto;
  }
  .header__wrapper-logo {
    flex-basis: auto;
  }
  .header_auth-true .header__wrapper-auth-name {
    padding-left: 10px;
  }
}



@media all and (max-width: 815px) {
  .background {
    min-height: 740px;
  }
  .background__wrapper-form {
     max-width: 380px;
     margin-left: auto;
     margin-right: auto;    
     margin-top: 20px;
  }

  .footer .footerUp, .footer .footerDown {
    padding: 10px;
    min-height: auto;
  }
  .background__text {
    margin: 10px auto;
    text-align: center;
    position: static;
    color: #fff;
  }
}

