$toxinDS100: #1F2041;
$toxinDS75:  rgba(31, 32, 65, 0.75);
$toxinDS50:  rgba(31, 32, 65, 0.5);
$toxinDS10:  rgba(31, 32, 65, 0.1);
$toxinDS25:  rgba(31, 32, 65, 0.25);
$toxinDS5:  rgba(31, 32, 65, 0.05);
$toxinPurple: #BC9CFF;
$toxinGreen: #6FCF97;