include ../../../components/text-input/text-input
include ../../../components/dropdown-input/dropdown-input
include ../../../components/masked-input/masked-input
include ../../../components/dd-input/dd-input
include ../../../components/fdd-input/fdd-input
include ../../../components/subscribe-input/subscribe-input
include ../../../components/comfort-input/comfort-input
include ../../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../../components/checkbox/checkbox
include ../../../components/comfort-status/comfort-status
include ../../../components/radio/radio
include ../../../components/toggle/toggle
include ../../../components/checkboxes-list/checkboxes-list
include ../../../components/radios-list/radios-list
include ../../../components/toggles-list/toggles-list
include ../../../components/like-button/like-button
include ../../../components/rate-button/rate-button
include ../../../components/guests-input/guests-input
include ../../../components/message-control/message-control
include ../../../components/range-slider/range-slider
include ../../../components/button/button
include ../../../components/pagination/pagination
include ../../../components/bullet/bullet
include ../../../components/bullets-list/bullets-list

doctype html
html
  head
    meta(charset="UTF-8")
    title Form Elements
    link(href='../../../jquery/plugins/item-quantity-dropdown/item-quantity-dropdown.min.css' rel='stylesheet')
  body
    .column1
      ul.column1__list
        li.column1__item
          +text-input({caption:'TEXT FIELD', placeholder:'Email'})
        li.column1__item
          +text-input({isFocused:true, classes:'text-input_isFocused', caption:'TEXT FIELD', text:'This is pretty awesome'})     
        li.column1__item.column1__wrapper-for-guests-input0
          +guests-input({isExpanded:false, caption:'DROPDOWN', placeholder:'', 
                        items:[{id:'adults', name:'ВЗРОСЛЫЕ'},
                              {id:'childs', name:'ДЕТИ'},
                              {id:'babies', name:'МЛАДЕНЦЫ'}] })

        li.column1__item
          +masked-input({caption:'MASKED TEXT FIELD', placeholder:'ДД.ММ.ГГГГ'})
        li.column1__item.column1__wrapper-for-dd-inputs
          ul.column1__dd-inputs-list
            li.column1__dd-inputs-item
              +dd-input({caption:'DATE DROPDOWN', placeholder:'ДД.ММ.ГГГГ', value:''})
            li.column1__dd-inputs-item
              +dd-input({caption:'DATE DROPDOWN', placeholder:'ДД.ММ.ГГГГ', value:'19.08.2019'})
        li.column1__item.column1__wrapper-for-fdd-input
          +fdd-input({caption:'FILTER DATE DROPDOWN', placeholder:'', value:'19 авг - 23 авг'})
        li.column1__item.column1__wrapper-for-subscribe-input
          +subscribe-input({caption:'SUBSCRIPTION TEXT FIELD', placeholder:'Email'})
        li.column1__item
          +comfort-input({isExpanded:false, caption:'DROPDOWN', placeholder:'', 
          items:[{id:'bedrooms', name:'СПАЛЬНИ', defaultcount:2},
                 {id:'beds', name:'КРОВАТИ', defaultcount:2},
                 {id:'bathrooms', name:'ВАННЫЕ КОМНАТЫ'}] })
        li.column1__item.column1__wrapper-for-comport-input
          +comfort-input({isExpanded:true, caption:'DROPDOWN', placeholder:'', 
          items:[{id:'bedrooms', name:'СПАЛЬНИ', defaultcount:2},
                 {id:'beds', name:'КРОВАТИ', defaultcount:2},
                 {id:'bathrooms', name:'ВАННЫЕ КОМНАТЫ'}] })
        li.column1__item.column1__wrapper-for-ecl1
          +expandable-checkbox-list({isExpand:false, caption:'EXPANDABLE CHECKBOX LIST', checkboxes:[{id:'bf', text:'Завтрак'},
                                                                                     {id:'desk', text:'Письменный стол', isChecked:true},
                                                                                     {id:'chair', text:'Стул для кормления', isChecked:true},
                                                                                     {id:'bed', text:'Кроватка', isChecked:true},
                                                                                     {id:'tv1', text:'Телевизор'},
                                                                                     {id:'shampoo1', text:'Шампунь'},
                                                                                     {id:'tv2', text:'Телевизор'},
                                                                                     {id:'shampoo2', text:'Шампунь'}
                                                                                     ]})
        li.column1__item.column1__wrapper-for-ecl2                                                            
          +expandable-checkbox-list({isExpand:true, caption:'EXPANDABLE CHECKBOX LIST', checkboxes:[{id:'bf2', text:'Завтрак'},
                                                                                     {id:'desk2', text:'Письменный стол', isChecked:true},
                                                                                     {id:'chair2', text:'Стул для кормления', isChecked:true},
                                                                                     {id:'bed2', text:'Кроватка', isChecked:true},
                                                                                     {id:'tv12', text:'Телевизор'},
                                                                                     {id:'shampoo12', text:'Шампунь'},
                                                                                     {id:'tv22', text:'Телевизор'},
                                                                                     {id:'shampoo22', text:'Шампунь'}          
                                                                                     ]})
        li.column1__item
          ul.comfort-statuses-list
            li.comfort-statuses-list__item
              +comfort-status({src:'../../../images/smile.svg', caption:'Комфорт', text:'Шумопоглощающие стены'})
            li.comfort-statuses-list__item
              +comfort-status({src:'../../../images/home.svg', caption:'Удобство', text:'Окно в каждой из спален'})
    .column__wrapper            
      .column23__wrapper
        .column2
          ul.column2__list
            li.column2__item.column2__wrapper-for-checkboxes-list
              +checkboxes-list({caption:'CHECKBOX BUTTONS', checkboxes:[{id:'smoke',text:'Можно курить'},
                                                                      {id:'pet',text:'Можно с питомцами', isChecked:true},
                                                                      {id:'guest',text:'Можно пригласить гостей (до 10 человек)',isChecked:true}
                                                                      ]})               
            li.column2__item.column2__wrapper-for-radios-list
              +radios-list({caption:'RADIO BUTTONS', name:'sex', radios:[{id:'men',text:'Мужчина', isChecked:true},
                                                                        {id:'women',text:'Женщина'}
                                                                        ]})
            li.column2__item.column2__wrapper-for-toggles-list 
              +toggles-list({caption:'TOGGLE',toggles:[{isChecked:true, text:'Получать спецпредложения',id:'t_on'},
                                                      {isChecked:false, text:'Получать спецпредложения', id:'t_off'}]})         
            li.column2__item.column2__wrapper-for-likes-button-list
              figure.likes-button-list
                figcaption.likes-button-list__caption LIKE BUTTON
                ul.likes-button-list__list
                  li.likes-button-list__item
                    +like-button({count: 2, id:'like1'})
                  li.likes-button-list__item
                    +like-button({count: 12, id:'like2', isChecked:true})   
            li.column2__item.column2__wrapper-for-rate-buttons-list
              figure.rate-buttons-list
                figcaption.rate-buttons-list__caption RATE BUTTON
                ul.rate-buttons-list__list
                  li.rate-buttons-list__item
                    +rate-button({count:4,id:'stars1'})
                  li.rate-buttons-list__item
                    +rate-button({count:5,id:'stars2'})
            li.column2__item.column2__wrapper-for-guests-input1
              +guests-input({isExpanded:true, caption:'DROPDOWN', placeholder:'', 
              items:[{id:'adults', name:'ВЗРОСЛЫЕ'},
                    {id:'childs', name:'ДЕТИ'},
                    {id:'babies', name:'МЛАДЕНЦЫ'}] })
            li.column2__item.column2__wrapper-for-rich-checkboxes-list
              +checkboxes-list({caption:'RICH CHECKBOX BUTTONS', 
                                checkboxes:[{id:'wk',text:'Широкий коридор', desc:'Ширина коридоров в номере не менее 91 см.'},
                                            {id:'hfi',text:'Помощник для инвалидов', desc:'На 1 этаже вас встретит специалист и проводит до номера.'}
                                          ]})                                                 
        .column3
          ul.column3__list
            li.column3__item.column3__wrapper-for-range-slider
              +range-slider({ctext:'range slider', min:0, max:15000, from: 4500, to:9600 })
            li.column3__item.column3__wrapper-for-buttons-list
              ul.buttons-list
                p.buttons-list__caption BUTTONS
                .buttons-list__wraper-for-2buttons
                  li.buttons-list__item
                    +button-filled({text:'click me'})
                  li.buttons-list__item
                    +button-filled({text:'click me', isEnabled:false})
                .buttons-list__wraper-for-2buttons
                  li.buttons-list__item
                    +button-bordered({text:'click me'})
                  li.buttons-list__item
                    +button-bordered({text:'click me', isEnabled:false})
                .buttons-list__wraper-for-2buttons
                  li.buttons-list__item
                    +button-simple({text:'click me'})
                  li.buttons-list__item
                    +button-simple({text:'click me', isEnabled:false})
                li.buttons-list__item
                    +button-arrow({text:'перейти к оплате'})
            li.column3__item.pagination__wrapper
              p.pagination__wrapper-caption PAGINATION
              +pagination({pages:15, page:1, showed:12, showedlastpage:6, total:100})
            li.column3__item.column3__wrapper-for-guests-input2
              +guests-input({isExpanded:true, caption:'DROPDOWN', placeholder:'', 
              items:[{id:'adults', name:'ВЗРОСЛЫЕ', defaultcount:2},
                     {id:'childs', name:'ДЕТИ', defaultcount:1},
                     {id:'babies', name:'МЛАДЕНЦЫ'}] })

            li.column3__item.column3__wrapper-for-bullet-list
              p.column3__bullet-list-caption BULLET-LIST
              +bullets-list([{text:'Нельзя с питомцами'},
                             {text:'Без вечеринок и мероприятий'},
                             {text:'Время прибытия — после 13:00, а выезд до 12:00'}])
      .row1
        +message-control({image:{alt:'avatar', src:'../../../images/avatar.jpg'}, 
                          like:{count: 12, id:'avatar', isChecked:true},
                          caption:'Мурад Сарафанов', time:'5 дней назад', text:'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})

    script(type="text/javascript" src="../../../jquery/jquery-3.4.1.min.js")
    script(type="text/javascript" src="../../../jquery/plugins/jquery.maskedinput.min.js")
    script(type="text/javascript" src='../../../jquery/plugins/item-quantity-dropdown/item-quantity-dropdown.min.js')