@import "../../../common.scss";

@import "../../../fonts/Montserrat/fonts.css";
@import "../../../fonts/MaterialIcons/material-icons.css";

body {
  margin: 0 auto;
  padding: 140px 0px 132px 140px;
  min-width: 320px;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  background: white;
}
.column1 {
  margin-right: 127px;
  width: 320px;
}
.column2,
.column3 {
  width: 320px;
  padding-top: 3px;
}

.column2 {
  margin-right: 72px;  
}
.column1__list,
.column2__list,
.column3__list {
  list-style: none;
}
.column1__item {
  margin-bottom: 20px;  
}
.column1__wrapper-for-datepicker-inputs {
  margin-bottom: 39px;
}

.column1__datepicker-inputs-list {
  list-style: none;
  display: flex;
}
.column1__datepicker-inputs-item {
  width: 150px;
}
.column1__wrapper-for-masked-input {
  margin-bottom: 38px;
}
.column1__datepicker-inputs-item:nth-child(1) {
  margin-right: 20px;
}

.column1__wrapper-for-guests-input0 {
  margin-bottom: 22px;
}

.column1__wrapper-for-fdd-input {
  margin-bottom: 39px;
  width: 266px;
}
.column1__wrapper-for-subscribe-input {
  margin-bottom: 100px;
  width: 267px;
}
.column1__wrapper-for-comport-input {
  margin-bottom: 168px;
}

.column1__wrapper-for-ecl1 {
  margin-bottom: 40px;
}
.column1__wrapper-for-ecl2 {
  margin-bottom: 40px;
}

.column1__wrapper-for-comfort-status-list {
  width: 280px;
}

.column2__wrapper-for-checkboxes-list {
  margin-bottom: 42px;
  width: 240px;
}
.column2__wrapper-for-radios-list {
  margin-bottom: 43px;
}
.column2__wrapper-for-toggles-list {
  margin-bottom: 45px;
}

.likes-button-list {
  margin-bottom: 20px;
}
.likes-button-list__list {
  list-style: none;
  display: flex;
}
.likes-button-list__caption {  
  margin-bottom: 16px;
}
.likes-button-list__item:not(:last-child) {
  margin-right: 10px;
}

.column2__wrapper-for-likes-button-list {
  margin-bottom: 40px;
}
.rate-buttons-list__caption {
  margin-bottom: 16px;  
}
.rate-buttons-list__list {
  list-style: none;
  display: flex;
}
.rate-buttons-list__item:not(:last-child) {
  margin-right: 20px;
}
.column2__wrapper-for-rate-buttons-list {
  margin-bottom: 191px;
}
.column2__wrapper-for-guests-input1 {
  margin-bottom: 257px;
}

.column2__wrapper-for-rich-checkboxes-list {
  width: 253px;
  margin-bottom: 230px;
  .checkboxes-list__item:nth-child(1) {
    width: 220px;
  }
}

.column__wrapper {
  display: flex;
  flex-direction: column;  
}

.column23__wrapper {
  display: flex;
  flex-direction: row;
}
.column3__wrapper-for-range-slider {
  width: 266px;
  margin-bottom: 40px;
}
.column3__wrapper-for-buttons-list {
  margin-bottom: 40px;
}
.buttons-list {
  list-style: none;
}
.buttons-list__caption {  
  margin-bottom: 16px;
}
.buttons-list__item {
  height: inherit;
}

.two-buttons-list {
  list-style:none;
  display: flex;  
}
.buttons-list__item:not(:last-of-type) {
  margin-bottom: 30px;
}
.two-buttons-list__item_width99 {
  width: 99px;
}
.two-buttons-list__item {
  height: 44px;  
}
.two-buttons-list3 .two-buttons-list__item {
  height: auto;
}
.two-buttons-list__item:first-child {
  margin-right: 19px;
}

.pagination__wrapper {
  margin-bottom: 235px;
  max-width: 241px;
}
.pagination__wrapper-caption {
  margin-bottom: 17px;
}
.column3__wrapper-for-guests-input2 {
  margin-bottom: 255px;
}
.column3__wrapper-for-bullet-list {
  width: 260px;
}
.column3__bullet-list-caption {
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: bold;
}
.row1 {
  width: 712px;
}

.column1__item.column1__wrapper-for-ecl1,
.column1__item.column1__wrapper-for-ecl2 {
  width: 266px;
}

@import "../../../components/text-input/text-input.scss";
@import "../../../components/dropdown-input/dropdown-input.scss";
@import "../../../components/masked-input/masked-input.scss";
@import "../../../components/datepicker-input/datepicker-input.scss";
@import "../../../components/fdd-input/fdd-input.scss";
@import "../../../components/subscribe-input/subscribe-input.scss";
@import "../../../components/comfort-input/comfort-input.scss";
@import "../../../components/expandable-checkbox-list/expandable-checkbox-list.scss";
@import "../../../components/checkbox/checkbox.scss";
@import "../../../components/comfort-status/comfort-status.scss";
@import "../../../components/comfort-status-list/comfort-status-list.scss";
@import "../../../components/radio/radio.scss";
@import "../../../components/checkboxes-list/checkboxes-list.scss";
@import "../../../components/radios-list/radios-list.scss";
@import "../../../components/toggle/toggle.scss";
@import "../../../components/toggles-list/toggles-list.scss";
@import "../../../components/like-button/like-button.scss";
@import "../../../components/rate-button/rate-button.scss";
@import "../../../components/guests-input/guests-input.scss";
@import "../../../components/round-image/round-image.scss";
@import "../../../components/feedback/feedback.scss";
@import "../../../../node_modules/ion-rangeslider/css/ion.rangeSlider.css";
@import "../../../components/range-slider/range-slider.scss";
@import "../../../components/button/button.scss";
@import "../../../components/pagination/pagination.scss";
@import "../../../components/bullet/bullet.scss";
@import "../../../components/bullets-list/bullets-list.scss";
@import "../../../components/item-quantity-dropdown/item-quantity-dropdown.scss";