.slides {
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;

  margin: 0 auto;
  position: relative;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides input {
  display: none;    
}

.slide-container {
  display: block;
}

.slide {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;

  transform: scale(0);

  transition: all 0.7s ease-in-out;  
}

.slide img {
  width: 100%;
  height: 100%;    
}

.nav label {
  width: 42px;
  height: 100%;

  display: none;
  position: absolute;

  opacity: 0;
  z-index: 9;
  cursor: pointer;

  transition: opacity 0.2s;

  color: #fff;

  text-align: center;

  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label {
  opacity: 0.5;
}

.nav label:hover {
  opacity: 1;
}

.nav .next {
  right: 0;
}

label.prev:after {
  font-family: $toxin-font-material-icon;
  content: attr(content);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
label.next:after {
  font-family: $toxin-font-material-icon;
  content: attr(content);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

input:checked + .slide-container .slide {
  opacity: 1;

  transform: scale(1);

  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label {
  display: block;
}

.nav-dots {
  bottom: 7.8%;
  right: 5.5%;
  display: block;
  position: absolute;
  z-index: 20;
  font-size: 12px;
}

.nav-dots .nav-dot {
  width: 8px;
  height: 8px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  border: 1px solid #fff;
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}


// input#image-slider1-img-1:checked ~ .nav-dots label#img-dot-1,
// input#image-slider1-img-2:checked ~ .nav-dots label#img-dot-2,
// input#image-slider1-img-3:checked ~ .nav-dots label#img-dot-3,
// input#image-slider1-img-4:checked ~ .nav-dots label#img-dot-4 {
//   background: white;
// }

// input#image-slider2-img-1:checked ~ .nav-dots label#img-dot-1,
// input#image-slider2-img-2:checked ~ .nav-dots label#img-dot-2,
// input#image-slider2-img-3:checked ~ .nav-dots label#img-dot-3,
// input#image-slider2-img-4:checked ~ .nav-dots label#img-dot-4 {
//   background: white;
// }

input:nth-of-type(1):checked ~ .nav-dots label:nth-of-type(1),
input:nth-of-type(2):checked ~ .nav-dots label:nth-of-type(2),
input:nth-of-type(3):checked ~ .nav-dots label:nth-of-type(3),
input:nth-of-type(4):checked ~ .nav-dots label:nth-of-type(4) {
  background: white;
}
