mixin items-pad(data)
  .iqdropdown
    p.iqdropdown-selection
    .iqdropdown-menu
      .iqdropdown-menu-option(data-id='bedrooms')
        div
          p.iqdropdown-item Спальни          
      .iqdropdown-menu-option(data-id='beds')
        div
          p.iqdropdown-item Кровати          
      .iqdropdown-menu-option(data-id='bathrooms')
        div
          p.iqdropdown-item Ванные комнаты          
