include ../tooltip/tooltip
include ../room-info-caption/room-info-caption
include ../datepicker-input/datepicker-input
include ../datepicker-input-range/datepicker-input-range
include ../guests-input/guests-input
include ../button/button

mixin order-info-form(data={})
  - 
    const {
      items = [{text: "Error: items is not defined"}], 
      summaryText, summaryValue, 
      roomInfoCaption,       
      datepickers,
      guestsInput, 
      buttonSubmit
    } = data
  form.order-info-form.js-order-info-form(method = "post" action = "#")
    fieldset.order-info-form__wrapper-main
      h2.order-info-form__room-info-caption
        +room-info-caption(roomInfoCaption)
      ul.order-info-form__list
        li.order-info-form__item
          +datepicker-input-range(datepickers)
        li.order-info-form__item
          +guests-input(guestsInput)
        li.order-info-form__item
          table.order-info-form__table
            for item in items
              - const {text, tooltip, cost} = item
                tr.order-info-form__row
                  td.order-info-form__cell-text #{text}
                  td.order-info-form__cell-tooltip
                    if (tooltip) 
                      +tooltip({text: tooltip})
                  td.order-info-form__cell-value #{cost}     
      .order-info-form__total
        .order-info-form__total-text #{summaryText}
        .order-info-form__total-line
        .order-info-form__total-value #{summaryValue}            
      +button({styleType:"arrowed", type: "submit", text: buttonSubmit.text})

