include ../tooltip/tooltip
include ../room-info-caption/room-info-caption
include ../datepicker-input/datepicker-input
include ../guests-input/guests-input
include ../button-arrow/button-arrow

mixin order-info-form({items, summaryText, summaryValue})
  form.order-info-form(method="post" action="#")
    fieldset.order-info-form__wrapper-main
      .order-info-form__wrapper-for-room-info-caption
        +room-info-caption({number:888, isLux:true, cost:"9 990"})
      ul.order-info-form__list
        li.order-info-form__item
          ul.order-info-form__dates-list
            li.order-info-form__dates-item
              +datepicker-input({caption:"Прибытие", placeholder:"ДД.ММ.ГГГГ", id:"oi-form__start-input"})
            li.order-info-form__dates-item
              +datepicker-input({caption:"Выезд", placeholder:"ДД.ММ.ГГГГ", id:"oi-form__end-input", hasDatepicker:false})
        li.order-info-form__item
          +guests-input({caption:"Гости", items: [{id:'adults', text: 'Взрослые'}, {id:'children', text:'Дети'}, {id:'babies', text:'Младенцы'}] })
        li.order-info-form__item
          table.order-info-form__table
            for item in items
              - const {text, tooltip, cost} = item
                tr.order-info-form__row
                  td.order-info-form__cell-text #{text}
                  td.order-info-form__cell-tooltip
                    if (tooltip) 
                      +tooltip({text: tooltip})
                  td.order-info-form__cell-value #{cost}     
      .order-info-form__total
        h2.order-info-form__total-text #{summaryText}
        .order-info-form__total-line
        h2.order-info-form__total-value #{summaryValue}
      +button-arrow({text:"Забронировать", type:"submit"})

