.order-info-form {
  max-width: 380px;
  background: white;
  padding: 40px 29px 29px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__wrapper-main {
    border: 0 none;
    max-width: 320px;
  }
 
  &__wrapper-for-room-info-caption {
    font-size: 24px;
    margin-bottom: 17px;
  }
  &__item:not(:last-child) {
    margin-bottom: 19px;
  }

  &__list {
    margin-bottom: 27px;
  }

  &__list {
    list-style: none;
  }  

  &__cell-tooltip {
    display: flex;
    padding-left: 2px;
  }

  &__arrival {
    .datepicker-input__input {
      padding-left: 14px;
      padding-top: 11px;
    }
  }

  &__checkout {
    .datepicker-input__input {
      padding-left: 11px;
      padding-top: 11px;
    }
  }

  &__table {
    width: 100%;
    font-size: 14px;
    color: $toxin-color-black-75;
  }

  &__row:nth-child(1),
  &__row:nth-child(2) {
    .order-info-form__cell-text {
      border-bottom: 14px solid transparent;
    }
  }

  &__cell-text {
    width: 214px;
  }

  &__cell-value {
    text-align: end;
    vertical-align: top;
    min-width: 60px;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    align-items: baseline;
  }

  &__total-text,
  &__total-value {
    font-size: 19px;
    font-family: $toxin-font-open-sans;
    font-weight: bold;
  }

  &__total-value {
    letter-spacing: -0.3px;
  }

  &__total-text {
    margin-right: 5px;
    text-transform: none;
  }

  &__total-line {
    border-bottom: 1px dotted $toxin-color-black-25;
    margin-right: 5px;
    flex-grow: 1;
  }

  @media (max-width: 360px) {
    padding: 20px 10px 10px;
  }
}
