include ../tooltip/tooltip
include ../room-info-caption/room-info-caption
include ../datepicker-input/datepicker-input
include ../guests-input/guests-input
include ../button-arrow/button-arrow

mixin order-info-form({items, summaryText, summaryValue, roomInfoCaption, datepickerInputArrival, datepickerInputCheckout, guestsInput, buttonSubmit})
  form.order-info-form(method = "post" action = "#")
    fieldset.order-info-form__wrapper-main
      h2.order-info-form__wrapper-for-room-info-caption
        +room-info-caption(roomInfoCaption)
      ul.order-info-form__list
        li.order-info-form__item
          ul.order-info-form__dates-list
            li.order-info-form__dates-item.order-info-form__arrival
              +datepicker-input(datepickerInputArrival)
            li.order-info-form__dates-item.order-info-form__checkout
              +datepicker-input(datepickerInputCheckout)
        li.order-info-form__item
          +guests-input(guestsInput)
        li.order-info-form__item.order-info-form__item-table
          table.order-info-form__table
            for item in items
              - const {text, tooltip, cost} = item
                tr.order-info-form__row
                  td.order-info-form__cell-text #{text}
                  td.order-info-form__cell-tooltip
                    if (tooltip) 
                      +tooltip({text: tooltip})
                  td.order-info-form__cell-value #{cost}     
      .order-info-form__total
        .order-info-form__total-text #{summaryText}
        .order-info-form__total-line
        .order-info-form__total-value #{summaryValue}
      +button-arrow(buttonSubmit)

