include ./createhtmltags

mixin menuItems(items=[{text: "Error: items is not defined"}], calls=1)    
  ul.header-menu__list(class= (calls==1) ? "" : "header-menu__list_sub-item")
    for mi in items
      +createHTMLtags(mi, calls)
        if mi.sm
          +menuItems(mi.sm, calls+1)