include ../image-slider/image-slider
include ../flexslider/flexslider

mixin room-images(data)
  .room-images
    .room-image-1
      img.room-image-1__image(src=data.images[0] alt="image-1")
    .room-images__wrapper
      .room-image-2
        img.room-image-2__image(src=data.images[1] alt="image-2")
      .room-image-3
        img.room-image-3__image(src=data.images[2] alt="image-3")
    +flexslider(data)