include ../image-slider/image-slider
include ../flexslider/flexslider

mixin room-images(images)
  .room-images
    .room-images__left-wrapper
      img.room-images__left-image(src = images[0] alt = "left-image")
    .room-images__right-wrapper
      .room-images__rigth-top-wrapper
        img.room-images__right-top-image(src = images[1] alt = "right-top-image")
      .room-images__rigth-bottom-wrapper
        img.room-images__right-bottom-image(src = images[2] alt = "right-bottom-image")
    +flexslider(images)