include ../radio/radio

mixin radios-list({caption, radios, name} = data)
  .radios-list  
    if caption
      h3.radios-list__caption #{caption}       
    ul.radios-list__list       
      for radio in radios
        - radio.name=name
        li.radios-list__item
          +radio(radio)
