@import "../radio/radio.scss";

.radios-list {
  &__list {
    list-style: none;
    display: flex;
  }

  &__caption {
    margin-bottom: 16px;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }
}
