.radios-list__list {
  list-style: none;   
  display: flex;
}

.radios-list__caption {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 16px;
}

.radios-list__item:not(:last-child) {
  margin-right: 20px;
}