mixin radios-list(data)    
  .radios-list  
    h3.radios-list__caption #{data.caption}       
    ul.radios-list__list       
      for rds in data.radios
        - rds.name=data.name
        li.radios-list__item
          +radio(rds)
      