include ../toggle/toggle

mixin toggles-list({caption, toggles})
  .toggles-list
    h3.toggles-list__caption #{caption}
    ul.toggles-list__list 
      for toggle in toggles
        li.toggles-list__item
          +toggle(toggle)


