.toggles-list {
  font-family: $toxin-font-montserrat;

  &__caption {
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: inherit;
  }

  &__list {
    list-style: none;
  }

  &__item:not(:last-child) {
    margin-bottom: 14px;
  }
}
